[2019-04-08 21:42] doug-walker commented on #445
Closing this issue as fixed.

[2019-04-08 21:42] #445 closed

[2019-04-10 13:20] hodoulp commented on #690
`yaml 0.3.0` is very old and generates lot of warnings when compiling with recent gcc version (i.e. tested with gcc 7.3.0). The current yaml version is 1.2 (i.e. check on the web site https://yaml.org/).

[2019-04-10 13:57] hobbes1069 commented on #690
I think 1.2 is the version of the specification. On Fedora we use the yaml-cpp project when is at version 0.6.2, but yes, 0.3.0 is quite old.

[2019-04-10 14:02] hodoulp commented on #690
@hobbes1069 Yes. The latest yaml spec is 1.2 but the yaml lib is 0.6.2 (i.e. yaml-cpp-0.6.2)

[2019-04-11 22:30] doug-walker opened #726 "CMake issue with existing OCIO installs"
Because of the way CMake is currently set up, it will sometimes add /usr/local/include to the include path in order to pick up IlmBase or GLEW.  If there happens to also be an old install of OpenColorIO also in /usr/local/include, then the make will fail since the old/installed versions of the OpenColorIO headers are picked up rather than the development versions.

Note that simply uninstalling th

[2019-04-18 19:14] hodoulp commented on #690
#721

[2019-04-25 09:10] dictoon commented on #297
This problem has also been reported several times in appleseed:
https://github.com/appleseedhq/appleseed/issues/2567

[2019-04-29 22:32] doug-walker opened #741 "Enabling improved display transforms"
The DisplayTransform includes the ability to adjust the exposure and contrast to allow the user to interactively explore the full dynamic range of their images.  While the current design is fine for simple apps such as ociodisplay, it is not very efficient.  (And after all, real-world apps would typically like to have most of the compute resources available for tasks beyond color management.)

The

[2019-05-01 04:36] jfpanisset commented on #669
GitHub Pages web sites can be set up to automatically generate and renew letsencrypt.org SSL certs. As per:

https://help.github.com/en/articles/setting-up-an-apex-domain

If you're updating an existing custom domain, first remove and then
re-add your custom domain to your GitHub account to trigger the
process of enabling HTTPS.

Also DNS A records for the opencolorio.org domain should be updated

[2019-05-01 05:43] michdolan commented on #741
Having uniform support will be awesome! Very excited about this.

Sorry if this was discussed in the working group meeting, but regarding the new ExposureContrastTransform, would the "contrast" portion of the transform by the typical exponent adjustment (i.e. "gamma"), or are you planning something fancier? I'm curious about the naming choice of contrast vs. gamma.

And regarding the inclusion of

[2019-05-01 16:27] doug-walker commented on #741
Great questions Michael.  The goal is to be able to emulate what DisplayTransform does -- an exposure in scene-linear space, and a gamma in display space.  So the way it would work is there would be one ExposureContrastTransform before the view/display transform and another one after.  The first one would respond to dynamic exposure, the second one to dynamic gamma.  In addition, we've found it us

[2019-05-01 16:42] michdolan commented on #741
That explanation makes total sense. Thanks! Given that info, I think ExposureContrastTransform makes sense as well.

[2019-05-01 17:11] michdolan commented on #741
Thinking on this more. I think there would be great value in adding dynamic parameter support for some other transforms as well. CDLTransform in particular would be useful, since it is often used for "real time" adjustments in reviews.

[2019-05-04 22:43] sobotka opened #745 "[v1.1.1] Compilation with -Wall fails in PyAllocationTransform.cpp"
Compilation fails with GCC 8.2.0+ with:
[code]

https://github.com/imageworks/OpenColorIO/blob/ebdec4111f449bea995d01ecd9693b7e704498fe/src/pyglue/PyAllocationTransform.cpp#L56

[2019-05-04 22:45] sobotka opened #746 "[v1.1.1] Compilation with -Wall fails with -Werror=deprecated-declarations"
With GCC 8.2.0+ there are many failures in the tag v1.1.1 branch. Adding `-Wno-error=deprecated-declarations` appears to squelch and solve.

[2019-05-04 22:48] sobotka opened #747 "[v1.1.1] Compilation with -Wall fails with -Werror=cast-function-type"
Compilation in the tag v1.1.1 branch with GCC 8.2.0+ fails with -Werror=cast-function-type.

[2019-05-08 20:59] hodoulp commented on #709
For the record, I did successfully update to OIIO `RB-2.0` (using OpenEXR `Release/2.2`) for OCIO master.

[2019-05-23 20:33] sobotka opened #751 "[RFC] View transforms for non-colour data"
Greets all. Hope you are all doing well.

I thought I should put this here in the event that discussions happen that I might not be around to take part in.

I've been pondering if OCIO should permit view transforms on the data, while keeping the data in the reference as non-colour data. Sounds nutty I'm sure, but hear me out...

If we think about adjusting an alpha plane, say we are painting or ro

[2019-05-24 22:01] doug-walker commented on #751
This is also in our v2 plan, but we haven't gotten to it yet.

Another use-case is HDR monitors.  You obviously don't want 1.0 in your matte to be at 4,000 nits.

[2019-05-25 15:57] sobotka commented on #751
The questions I threw out were sort of “as it is” versus “as it might want to be” regarding alpha etc. Of course your point on HDR brings up the oncoming train and some other issues, which is great.

I’d also point out that this issue dovetails almost perfectly into metadata, which I don’t believe we have any documentation / RFC out yet? It’s a doozy, and given such, has anyone tabled anything yet

[2019-05-28 16:40] fnalex opened #754 "Config::getDefaultView does not respect active_views in the config.ocio"
Using the config from here: https://github.com/imageworks/OpenColorIO-Configs/blob/master/nuke-default/config.ocio#L18-L25

I executed the following code:

[code]

Which outputs:

But in the config the active_views is set to [sRGB]. So I would expect the default view to be sRGB instead of None. I came to this conclusion from here: http://opencolorio.org/userguide/config_syntax.html#displays

[2019-05-29 03:30] michdolan commented on #754
Can you try OCIO v1.1.1? This release includes some fixes related to default display and view handling.

https://github.com/imageworks/OpenColorIO/releases/tag/v1.1.1

[2019-05-29 08:26] fnalex commented on #754
Yeah that seems to be working in 1.1.1, I'll close this issue.

[2019-05-29 15:59] hodoulp commented on #754
@michdolan `master` should work as all v1.1.1 fixes are in both branches.

[2019-05-29 16:05] hodoulp commented on #754
`master` and `v1.1.1` are working fine.

[2019-05-29 16:05] #754 closed

[2019-06-03 18:53] llatta opened #756 "Platform::Getenv uses potentially stale data on Windows"
The Windows implementation of the Platform::Getenv function uses the _dupenv_s to read environment variables from the C runtime. The C runtime environment variable functions read data that is cached at process start from the real Windows process environment (ie GetEnvironmentVariable). If after process start any place calls Windows SetEnvironmentVariable, or setenv in a different C runtime (debug

[2019-06-03 23:02] hodoulp commented on #756
Thanks for the feedback.

[2019-06-10 17:55] hodoulp commented on #756
Hi @llatta
I did some tests on my side and `OCIO::Platform::Getenv` does not see env. variables set by `SetEnvironmentVariable`.  So I will change the implementation.

Question:

Any reference?

[2019-06-17 22:10] michdolan opened #766 "Replace AutoLock with std::lock_guard"
Per @lgritz observation in PR #670 : in C++11, AutoLock (src/OpenColorIO/Mutex.h) should be replaced with std::lock_guard.

[2019-06-19 09:15] fnalex opened #767 "ClearAllCaches doesn't seem to be working in the same way since 1.0.9"
Reloading a .ccc file doesn't seem to work the same in 1.0.9 and 1.1.x

The following code will create a file at /tmp/example.ccc and then create a CDL transform using the id cc03343. Then it will overwrite the file at /tmp/example.ccc with a different slope; clear all the caches and create a new transform from the same filepath with the same id.

[code]

I would expect the new transform to have t

[2019-06-19 13:37] hodoulp commented on #767
Concerning the exception only, I can reproduce it in `master`.

[2019-06-25 03:35] hodoulp commented on #756
Merged in `master` i.e. OCIOv2

[2019-06-25 08:37] JenusL commented on #297
I just got bit by this when writing a plugin for 3ds Max that uses OCIO.
I can't believe this has been open since 2012.
Will this ever get fixed?

[2019-06-25 16:03] hodoulp commented on #767
Merged in `master` i.e. OCIOv2

[2019-06-25 17:37] lgritz commented on #297
I went through this a year or two ago with OpenImageIO. I had to ruthlessly find all printf, scanf, and iostream stuff and replace it all with a new set of calls that I guarantee to be locale-independent.
It's not super hard and you are welcome to steal what you need from OIIO (I can point out what is necessary), but it can be an extensive undertaking.

[2019-06-25 18:19] Dithermaster commented on #297
An alternative to changing the calls is to fix the locale around the call. We fixed this specific OCIO issue on the host side by saving the thread locale, setting it to "C" locale, calling the OCIO function, and then restoring the locale. It's all wrapped in an auto-style C++ class, so it's one line of code in the places we needed it. Yes, I reported it at the time, but we needed a fix ASAP so tha

[2019-06-25 19:11] KelSolaar commented on #297
Oh we got that one at Duran Dubois when compiling Qt for Maya. All the
artists got Minecraft like assets as everything was rounded to next
integer. The panic it caused was unbelievable :)

On Wed, 26 Jun 2019, 06:19 Dithermaster, <notifications@github.com> wrote:

[2019-06-25 20:49] JenusL commented on #297
What bugs me is that I spent a long time trying to figure out what was wrong. But after I found out it was locale, the fix was easy in the host (3ds Max in this case).
Took me about 10 minutes to code it. But in case someone doesn't want to reinvent the wheel, here's what I did.
[code]
It's a very manual approach but it was quick. So I would love to see how @Dithermaster solved it :)
Keep in mind

[2019-06-25 21:50] Dithermaster commented on #297
Our solution was based on the same APIs, but wrapped in C++ and with Windows support:

[code]

and
[code]

Then in a block where you're making OCIO calls, have
`    AutoSetAndRestoreThreadLocale locale;
`
When it hits that line it saves and sets the locale, then when the object destructs it restores the old locale.

[2019-06-26 01:36] llatta commented on #756
Thanks for the fix!

Sorry just realized I never replied to the question for more info on the different C runtime problem. That was how I originally ran into the issue. I had compiled OCIO with the release CRT (of VS 2015), and the code using it was linked against the debug CRT. The code linked against debug CRT code was calling ::setenv("OCIO", ...) and that change wasn't picked up by OCIO when i

[2019-07-17 17:51] hodoulp opened #773 "Security - Replace 'std::rand'"
Security issue detected by the CI build:
https://sonarcloud.io/project/issues?id=imageworks_OpenColorIO&resolved=false&sinceLeakPeriod=true&types=BUG

[2019-07-17 20:12] lgritz commented on #773
Is this only a "security" issue because rand() isn't a strong enough to use for crypto -- which is not at all how we're using it?

[2019-07-17 21:35] doug-walker commented on #773
Excellent point Larry, the Sonar reason is "The use of srand together with rand to seed the random number generator and then generate numbers usually produces low-quality randomness."  So it is not that the call itself is a security issue, just that the results aren't totally random (which we don't really care about for our usage).

[2019-07-17 21:39] michdolan commented on #773
This falls into a topic worth raising at the ASWF CI working group meeting (OpenEXR had the same question recently). As to whether we answer false positives with a comment in code and/or explicitly dismissing the warning in SonarCloud for the specific cases we know are not actually an issue.

[2019-07-18 13:32] hodoulp commented on #773
All the tools (from gcc warnings, unit tests to SonarCloud) are here to help us finding hidden bugs. Running these tools is the mandate of the CI build system. However, the cost is to have frequent false-positive warnings because these tools are not perfect and not tailored to the project. But disabling warnings would only inhibit more and more validations over the time and finally hide problems.

[2019-07-19 05:05] dbr opened #774 "Full display pipeline Python example broken"
The example at
https://opencolorio.org/developers/usage_examples.html#displaying-an-image-using-the-cpu-full-display-pipeline
is broken in a bunch of ways; mainly just wrong method names being used in step 1 and 2

[code]

I believe this is the current way of doing things (at least as of OCIO 1.x):

[code]

[2019-07-20 09:19] michdolan commented on #318
Noting here that some more recent commits to OCIOYaml.cpp re-introduced the `YAML::Node::GetMark()` function outside of the `OLDYAML` blocks. This function was removed in yaml-cpp 0.5.0, so breaks compatibility with yaml-cpp > 0.3.0.

[2019-07-21 06:02] michdolan commented on #170
#541 should make this possible. Do you agree @hodoulp ?

[2019-07-21 06:12] michdolan commented on #491
#656 Added CLF read support. Sufficient to close this?

[2019-07-21 06:14] michdolan commented on #587
#772 made this change.

[2019-07-21 06:14] #587 closed

[2019-07-21 06:36] michdolan commented on #716
Here is some interesting movement related to this:
https://github.com/AcademySoftwareFoundation/aswf-docker

In particular the ci-ocio image may be of interest (which we are using for Linux CI now. and will have a tag per VFX reference platform year). This image does not contain OCIO, but does contain a complete environment for building OCIO, including OIIO, etc.

This is the staging area for new

[2019-07-22 12:54] BernardLefebvre commented on #491
I am still working on CLF write support.

[2019-07-22 17:56] doug-walker commented on #170
@michdolan , #541 is the first step towards allowing ICC profiles to be incorporated into a ColorSpace and thus used in Views/Displays.  We have some additional work planned as part of v2 to make this more practical to use.

However, #541 does not provide the icc2ocio utility.  Such a utility would need a lot more work if it needs to support arbitrary ICC transform constructs (e.g. A2B0, B2A0 tags

[2019-07-22 17:59] doug-walker commented on #491
You could close this as a duplicate of #610.  And as Bernard wrote, we were waiting on the writer to close that one.

[2019-07-22 18:55] michdolan commented on #170
Do you think it would make sense though to target this functionality as a part of ociobakelut instead of adding another app? Assuming ICC is eventually fully supported within a colorspace.

[2019-07-22 19:15] michdolan commented on #491
As Doug stated, closing this as duplicate of #610 .

[2019-07-22 19:15] #491 closed

[2019-07-22 19:20] doug-walker commented on #170
The user would need to specify two ICC profiles, the rendering intents they want to use, and perhaps other information, so it would be a lot of arguments to add to ociobakelut just for that one use-case.

Correct me if I'm wrong, but it seems that this utility was largely proposed as a workaround to enable better use of ICC monitor profiles within OCIO.  We are on track to enabling that through a

[2019-07-22 19:25] michdolan commented on #170
I agree. I was completely vague in my initial comment, but that's sort of where my thought process was going. Less, can we support icc2ocio, and more, does #541 negate the need for it. The comment about #87 above was a first pass at an ICC transform, so it seemed to align with your work there.

We can revisit it following your further ICC work.

[2019-07-25 13:17] #773 closed

[2019-08-05 18:45] hodoulp opened #787 "mingw compilation failures."
@Alexpux faced some compilation issues when compiling with mingw.
The master pull request is #786

He raised the point to back-port the changes to RB-1.1

[2019-08-05 19:05] Alexpux commented on #787
@hodoulp there are more patches needed for 1.1. See - https://github.com/msys2/MINGW-packages/tree/master/mingw-w64-opencolorio

[2019-08-05 19:09] hodoulp commented on #787
The changes are also valid ones for the RB-1.1 branch.

However, the define order to declare `OCIOEXPORT` & `OCIOHIDDEN` are slightly changed in the new `include/OpenColorIO/OpenColorABI.h.in` file (which is part of the OCIO public API). It should not have any impacts on the C++ ABI compatibility.

If accepted, I would suggest to move to the next release version to 1.2 (instead of 1.1.2) to highli

[2019-08-05 19:51] hodoulp commented on #787
@Alexpux From your patch list:
* 1, 5, 6, 7 & 8  are already in PR #786
* 2, 3, & 4 are not clear for me (i.e. back-port or not)

The goal of RB-1.1 is only to fix bugs, and not to add new things (i.e. new compiler or platform support for example). At least that's my understanding of the branch.

[2019-08-05 19:58] Alexpux commented on #787
@hodoulp
Patch 002:
- mingw not sippor fPIC flag
- fix between MSVC/MINGW
- install OpenColorIO.cmake and *-target.cmake int right location to be able find by cmake from other modules.  Right location is PREFIX/lib/cmake/OpenColorIO

Patch 003 - mingw alreaady have right strtok_r function

Patch 004 - Fix conditions in cmake that only for MSVC compiler

[2019-08-05 20:10] Alexpux commented on #787
There are no any new things

[2019-08-07 06:31] michdolan opened #790 "Support versioned docs on opencolorio.org"
At the last TSC meeting ( #788 ) we discussed the License page of opencolorio.org being out of date (since it is tracking the RB-1.1 branch vs. master). Ideally the site would support choosing a release version and update the GH-sourced docs accordingly. This would aid in helping users learn about new functionality available in the OCIO v2 work, while also maintaining docs for current releases.

P

[2019-08-08 14:32] fnRaihanKibria opened #791 "[v1.1.1] Default display is alphabetical first if active_displays is not set"
According to https://opencolorio.org/userguide/config_syntax.html : "Unless the active_displays and active_views sections are defined, the first display and first view will be the default."

However using a config without an active_displays and active_views section results in the alphabetical first display being the default. Iterating through the displays also lists them in alphabetical order rath

[2019-08-13 20:33] hodoulp commented on #787
Hi @Alexpux

So you can create a pull request for a better support of `mingw` in RB-1.1.

[2019-08-13 20:45] hodoulp commented on #791
Hi @fnRaihanKibria
Thanks a lot for reporting your findings. I do not have personally enough time for short-term to dig inside the problem, but it's now documented.

If you could put some time to help us fixing the issue (i.e. by creating a pull request) that would be greatly appreciated.

@michdolan @scoopxyz As some parts of the documentation could be outdated, is the documented behavior the rig

[2019-08-13 21:19] michdolan commented on #791
The default ordering, when active_displays is undefined, is based on std::map, so would amount to an alphabetical ordering. The documentation is incorrect.

[2019-08-14 08:58] fnRaihanKibria commented on #791
Hello, thank you for looking into this. So it sounds like this is in fact expected behavior and it's just the documentation that needs to be amended?

[2019-08-14 09:49] fnRaihanKibria commented on #791
@michdolan

Hello, thank you for looking into this. So it sounds like this is in fact expected behavior and it's just the documentation that needs to be amended?

[2019-08-20 09:31] KevinJW opened #804 "Minimum gcc version/code license query"
Whilst looking at one of the pull requests I noticed the following code : https://github.com/imageworks/OpenColorIO/blob/e8a0513a661ef570097a35d66f66d05c0378b789/src/OpenColorIO/SSE.h#L48

It begs two (real) questions:

1) What is the minimum gcc version we should support in v2

2) Are there any license implications from the "Copy & Paste"

3) is the code from 4.1.2 or 4.1.1 :-)

Kevin

[2019-08-20 09:35] KelSolaar commented on #804
The VFX Reference Platform recommends 6.3.1 for 2018, 19 and 20 with some notes: https://vfxplatform.com/#footnote-gcc6

[2019-08-20 13:12] hodoulp commented on #804
Good catch @KevinJW , these lines could be removed.

[2019-09-03 19:11] mike1158 opened #818 "Nuke nodes should have better support for roles"
As far as I can tell, there is currently no way to specify a role in the OCIODisplay or OCIOColorSpace nodes.

The utility of being able to do this is clear--the OCIOLogConvert node is effectively just the OCIOColorSpace node that uses the compositing_log and scene_linear roles.

It would be nice to be able to use other, user-specified, roles in Nuke....

[2019-09-03 19:30] michdolan commented on #818
I believe support for roles is coming in Nuke 12, which is still in beta (using Foundry's version of the OCIO plugins, which differ from those in this repo).

[2019-09-04 05:03] michdolan opened #819 "Update Compatible Software list"
This page is quite out of date: https://opencolorio.org/CompatibleSoftware.html

Some integrations:

- have been overhauled by vendors: Mari, Nuke, etc.
- have been assimilated: Hiero.
- are not included yet: Maya, Houdini, Clarisse, Unreal Engine, DJV, etc.

[2019-09-05 06:03] jiapei100 opened #820 "ALWAYS Trying to install ALREADY-installed packages..."
I've already **had** OpenEXR installed from the repository on my Ubuntu 19.04 .  There seems to be **NO Point** to have it installed again due to the scripts under **share** ? Why the current version **always** requests to install OpenEXR from scratch?

[2019-09-05 06:09] jiapei100 opened #821 "/usr/bin/ld: CMakeFiles/OpenColorIO.dir/OCIOYaml.cpp.o: relocation R_X86_64_PC32 against undefined hidden symbol `_ZTVN4YAML9ExceptionE' can not be used when making a shared object"
**NEVER** be able to solve this problem.

[code]

The problem seems to be caused to **AUTOMATICALLY download** **pystring** and trying to have it built and installed?

It used to be easy to build, but it seems it becomes more and more unstable to build ????

[2019-09-05 07:37] michdolan commented on #820
Please specify what version of OCIO you are trying to build. Are you building from a release, or from the master branch?

If you are building from master, currently by default OCIO will check for required dependencies in platform-specific standard locations on your system. If they are not found, they will be downloaded and built within the build dir, and statically linked to OCIO.

You have full c

[2019-09-05 07:49] michdolan commented on #821
Please provide the cmake command you are using to build, and detailed information on your platform so we can try and reproduce the error.

OCIO used to have all dependencies embedded in the repo which made building simpler, but this is no longer possible for licensing reasons. Our goal is to continue to provide an easy build with minimal effort through providing the option to automatically get dep

[2019-09-05 19:23] hodoulp commented on #821
Using `docker` I tried several `ubuntu` configurations without installing the yaml, Ilmbase, pystring, OpenEXR & OpenImageIO packages and it compiles & runs well.

Using a plain `ubuntu` image, I only did 1) `apt-get update && apt-get -y upgrade` and 2) `apt-get -y install git g++ python python-dev cmake make wget bzip2 vim`
My tests were performed on:
- `ubuntu` 18.04 & `gcc` 6.5.0
- `ubuntu` 19.

[2019-09-05 20:27] jiapei100 commented on #820
1. OCIO_INSTALL_EXT_PACKAGES=NONE
2. Modify ext/CMakeLists.txt,
`set(ILMBASE_MIN_VERSION 2.3.0)` to `set(ILMBASE_MIN_VERSION 2.2.0)`

[2019-09-05 20:27] #820 closed

[2019-09-05 20:30] jiapei100 commented on #821
This issue continues...

[code]

My ENV:

[code]

[2019-09-05 20:43] hodoulp commented on #821
Could you provide the `cmake` command and the output?

[2019-09-05 20:53] jiapei100 commented on #821
@hodoulp
Thank you for your prompt reply.

I actually use **ccmake**, which is more clear while making...

[code]

Any further suggestions???

[2019-09-05 20:55] jiapei100 commented on #821
And the full **ERROR** message is as follows:

[code]

[2019-09-05 21:00] jiapei100 commented on #821
I **EVEN** tried

`BUILD_SHARED_LIBS                OFF`
to build static libraries, but still got the following **ERROR** messages:

[code]

[2019-09-05 21:29] hodoulp commented on #821
Finally we found the problem. **Your are compiling an OCIO static library** which fails on Linux. I can reproduce the problem with ubuntu 18.04 & gcc 5.6.0 and ubuntu 19.02 & gcc 8.3.0

@michdolan The case is missing in the CI build (i.e. only Windows static library is done).

[2019-09-05 21:34] jiapei100 commented on #821
@hodoulp

Not really. I tried both **shared** and **static**, **both failed**... The following is the **ERROR** message when building shared dynamic libraries.

[code]

[2019-09-05 21:38] michdolan commented on #821
Curious if this could be a dependent library compiled without -fPIC

[2019-09-05 21:42] hodoulp commented on #821
@jiapei100 You are right, the first error clearly indicates a dynamic library. But on my side, I can only reproduce your first and second errors when compiling a static library.

[2019-09-05 21:43] jiapei100 commented on #821
@michdolan
Tried, the same...

[code]

Error messages:

[code]

Oh, BTW, my python version
[code]

[2019-09-05 21:46] michdolan commented on #821
OCIO does not yet support Python 3, so you won't be able to get the Python bindings without Python 2.7. Since you are providing your own dependent libraries (i.e. OCIO_INSTALL_EXT_PACKAGES=NONE), was pystring compiled with the -fPIC cxx_compiler_flag (since you suggested the error symbol is pystring)? If not, can you rebuild pystring with it and try building OCIO?

[2019-09-05 21:52] hodoulp commented on #821
I think that I found something, the `-fPIC` gcc flag is not set correctly. I did some tries and it now compiles. But I need more time to finalize my investigations and find the right fix.

[2019-09-05 22:04] jiapei100 commented on #821
@michdolan @hodoulp

Yup, I think the problem has **A LOT** to do with **-fPIC**, **pystring**, and **OCIO_INSTALL_EXT_PACKAGES**.

Anyway, I added  **-fPIC -shared** for **CXXFLAGS** in **pystring's Makefile**, and had it built and installed independently.

[code]

[2019-09-06 15:46] hodoulp commented on #821
**Here is what I can reproduce for now**, and fix.

The ubuntu context is `cmake version 3.13.4` & `ccmake version 3.13.4`
The OCIO build context is that none of the external OCIO library dependencies are already installed.

- When using `ccmake` on ubuntu (OCIO as dynamic library), the makefile generation and the compilation succeed.

- When using `ccmake` on ubuntu (OCIO as static library), the

[2019-09-06 15:50] hodoulp commented on #821
Yes. The idea is that any external OCIO dependency is compiled as a static library to only produce one 'binary' (i.e. the OCIO dynamic library) and limit potential installation issues.

However, using already installed dependencies breaks that rule.

[2019-09-06 23:09] hodoulp commented on #821
Finally I found the right change to fix the two problems I can reproduce hoping it could help the original issue. Stay tuned...

[2019-09-06 23:46] jiapei100 commented on #821
@hodoulp
Looking forward to your final solution...

[2019-09-09 23:44] jiapei100 commented on #821
Issue continues:

1. Can I manually install [pystring](https://github.com/imageworks/pystring.git) separately? I mean: I install **pystring** FIRST, and afterwards **OpenColorIO**.

2. Anyway, in my case, I installed **pystring** FIRST successfully, with the following **Makefile**:

[code]

3. Afterwards, I tried to build **OpenColorIO** with **OCIO_INSTALL_EXT_PACKAGES=NONE** **BUILD_SHARED_LIBS=

[2019-09-11 21:12] hodoulp opened #828 "Python Bindings - pybind11 vs. private destructor"
At the last TSC meeting, we discussed of the `pybind11` issues with private destructors and Larry mentioned that OIIO successfully implemented `pybind11`. So, I checked the `ImageInput` class from OIIO. For example, `ImageInput` has a protected constructor but a public destructor. The class also overloads the new and delete operators. And it uses a `std::unique_ptr`.
OCIO declares all the public c

[2019-09-11 21:13] hodoulp commented on #828
Tomorrow, I will continue the investigation by looking at the move semantic.

[2019-09-11 21:14] hodoulp commented on #828
In the meantime, any comments/questions are welcome.

[2019-09-13 16:32] hodoulp commented on #828
Here is another proposal where the constructor & destructor remain private and the memory is well managed. The design is to offer a `shared_ptr` and also a `unique_ptr` in the public C++ API.

**(5)**
[code]
[code]

Whatever is the underlying pointer type, `Python` is by design reference counting instances. So, the shared instance request is done by `Python`.

Below is an example where the underly

[2019-09-13 18:06] hodoulp commented on #828
To not have a public destructor, `pybind11` imposes `std::unique_ptr` but OCIO only provides `std::shared_ptr`. For backward compatibility reason the class has the two offers, but I agree that's quite confusing.

*Note 1:*
On the other hand, does it make sense to offer a shareable `Config` instance?
But it make sense for `Processor` & `CPUProcessor` instances for example.

*Note 2:*
Finally, a `st

[2019-09-13 19:34] michdolan commented on #828
Thanks for all your investigations @hodoulp !

The question becomes, how much do we change core OCIO to support cleaner, easier to maintain, Python bindings. From an architectural point of view, what is there to gain or lose from moving to unique_ptr at a core level (where possible). I think it makes sense to use unique_ptr where shared_ptr is not practically needed, but for the cases where it is,

[2019-09-13 21:07] hodoulp commented on #828
The goal of all these investigations was to preserve the `pybind11` simplicity and the existing C++ public API.

Unfortunately only solutions with some various level of refactoring of the C++ public API enable the use of a `std::shared_ptr` with `pybind11`.

So my proposal is to have a public destructor while maintaining a private constructor ( i.e. proposal **(1)** ) which is very small & easy ch

[2019-09-13 21:47] lgritz commented on #828
This makes it look simple:

https://pybind11.readthedocs.io/en/stable/advanced/smart_ptrs.html#std-shared-ptr

[2019-09-20 05:38] matthewdcong commented on #745
I think this issue was addressed in https://github.com/imageworks/OpenColorIO/commit/1c624651b7ef414353c8ab790595b1db89f59616 and can be closed. I am no longer encountering the warning in GCC 9.

[2019-09-20 11:15] hodoulp commented on #821
The pull request fixing the two problems I reproduced, is now merged (see #824).

[2019-09-20 11:18] hodoulp commented on #828
Agreement on the **(1)** proposal so I close the issue.

[2019-09-20 11:18] #828 closed

[2019-09-25 21:14] hodoulp commented on #747
Based on investigations done by @matthewdcong for #838, these warnings should be gone.
@sobotka Could validate the point and close the issue?

[2019-09-25 21:15] hodoulp commented on #767
Merged in `RB-1.1` i.e. OCIOv1

[2019-09-25 21:15] #767 closed

[2019-09-25 21:38] sobotka commented on #747
Looks like `RB-1.1` needs the C11 flags set on a clean compile. It errors our with extensive output, first being:
[code]

[2019-09-25 21:49] hodoulp commented on #747
`RB-1.1` is not C++11, and the error (line 36 of `[]/src/apps/ocioconvert/main.cpp`) is related to an OIIO header file. So, the warnings could only be related to the OIIO version you are using. The OIIO library already transitioned to C++11 or higher long-time ago which could explain the warnings.

Anyway that does not seem to be an OCIO issue if `line 36` is the only trigger of all the warnings.

[2019-09-25 21:54] sobotka commented on #747
Not sure. I tried a clean compile after a clean clone of the repository, and flipping to the `RB-1.1` branch. Compiled OCIO for years, and can't recall this issue.

The YAML now simply triggers a warning, but the rest of the compilation bombs out with `gcc (Debian 8.3.0-6)`.

[2019-09-25 21:55] sobotka commented on #747
OIIO is master. Is there a means to negotiate the conflict?

OCIO seems to have nerfed the original error, but hard to be certain it compiles cleanly.

[2019-09-25 22:11] hodoulp commented on #747
Yes. Even if OCIOv1 is not C++11, you could compile it (apps only or apps & core) with the C++11 flag (i.e. add `set(CMAKE_CXX_STANDARD 11)` to the appropriate `CMakeLists.txt`). I would personally limit the change to the apps in order to avoid other potential warnings from the core library.

[2019-09-26 03:53] hodoulp commented on #756
Merged in `RB-1.1`i.e. OCIOv1

[2019-09-26 03:53] #756 closed

[2019-09-27 16:25] michdolan commented on #818
Confirmed in Nuke 12 (toward the bottom of feature list):

https://www.foundry.com/products/nuke/new-releases#link1013

[2019-09-29 19:25] sobotka commented on #747
So I've added that C++11 setting to three apps and it compiles RB-1.1, which dovetails into meaning that this issue is also closed due to the warnings as errors.

[2019-10-01 20:09] hodoulp commented on #401
Not anymore present in `master`.

[2019-10-01 20:09] #401 closed

[2019-10-01 20:14] hodoulp commented on #585
Fixed in `master`.

[2019-10-01 20:14] #585 closed

[2019-10-01 20:22] hodoulp commented on #592
When compiling in debug mode, `python27_d.lib` is expected but that's usually not installed by default, and there is no need to debug `Python`. The idea is to compile in debug mode but still using the release `Python` library.

[code]

*Note:* It requires some `cmake` knowledge.

[2019-10-01 20:25] #745 closed

[2019-10-01 20:27] #804 closed

[2019-10-01 20:38] hodoulp commented on #307
Following the major `cmake` file refactoring done last year, only static or dynamic library is now built (not both) in `master`.

[2019-10-01 20:38] #307 closed

[2019-10-01 20:42] hodoulp commented on #266
Not anymore a gcc version supported. `master` branch does have the warning.

[2019-10-01 20:42] #266 closed

[2019-10-04 19:17] michdolan opened #858 "OCIO 1.1.2 cherry-pick list"
Let's keep a list of all PRs to master that need to be cherry-picked into RB-1.1 for the upcoming 1.1.2 release. This way we won't forget these when the PRs get merged.

#856

[2019-10-04 20:16] thirdknife commented on #766
Is this issue still open? PR was merged in master.

[2019-10-04 20:37] hodoulp commented on #766
@thirdknife This one is already fixed by #832

[2019-10-04 20:37] #766 closed

[2019-10-05 15:00] hodoulp commented on #858
Here are new candidates for OCIOv1: #854 #855

***Note*** that most of the time the `git cherry-pick` fails because of the directory structure differences. So it could end up to be a copy & paste requiring more attention.

[2019-10-05 21:32] #388 closed

[2019-10-14 04:56] matthewdcong commented on #719
I tried this on my end with:

- OSX 10.14, Python 3.7, clang
- OSX 10.14, Python 3.7, gcc-9

It worked in both cases for me on a simple Python 3 example of applying a processor to a pixel value. Thus, I'm optimistic regarding Python 3 support in RB-1.1.

The warnings that you're seeing have been addressed since the OCIO 1.1.1 release. PR #838 addresses the first set of warnings regarding casts bet

[2019-10-23 16:38] hodoulp commented on #774
@thirdknife Yes, you only have to build the library with the Python bindings enabled i.e. `-DOCIO_BUILD_PYTHON=ON`. The unit tests can then demonstrate one way to use them.

[2019-10-23 18:08] thirdknife commented on #774
I have Docker setup with VS code and I could build all the projects inside my docker container. The output comes as:
[code]

This includes `PyOpenColorIO`, does that mean I have successfully built `PyOpenColorIO`? If so how do I use it?

[2019-10-23 18:23] hodoulp commented on #774
Yes

If you mean testing it, you can run `ctest -V` (or `ctest`) to execute all the unit tests including those related to the Python bindings. To use it you can refer to `tests/python/CMakeLists.txt` as example.

[2019-10-24 18:28] michdolan commented on #858
#540 - Add ability to write Iridas cubes

[2019-10-25 03:20] thirdknife commented on #774
According to this [line](https://github.com/AcademySoftwareFoundation/OpenColorIO/blob/master/CMakeLists.txt#L59). I have OCIO_BUILD_PYTHON option ON by default, and according to [this](https://github.com/AcademySoftwareFoundation/OpenColorIO/blob/master/tests/CMakeLists.txt#L14) it should add the python tests but it is not adding into the final build.
See reference image.
![Screenshot from 2019-1

[2019-10-25 12:49] hodoulp commented on #774
@thirdknife It could then be related to something missing to compile the Python bindings.
Within the build directory, could you run `cmake ../.` and copy & paste the output?

`find_package(PythonInterp 2.7 REQUIRED)` from [CMakeLists.txt](https://github.com/AcademySoftwareFoundation/OpenColorIO/blob/a084f70c22bae26c8b0167d400f3c8da66daa4f1/tests/python/CMakeLists.txt#L4) could be the explanation.

[2019-10-25 15:21] thirdknife commented on #774
[code]

[2019-10-25 15:44] hodoulp commented on #774
Everything is fine but the last line is strange `Build files have been written to: /workspaces/CIO/tests`

Here is how I compile OCIO on Linux:

1. `git clone https://github.com/AcademySoftwareFoundation/OpenColorIO.git ocio`
2. `cd ocio`
3. `mkdir build`
4. `cd build`
5. `cmake ../.`

So the last line is then `-- Build files have been written to: /home/hodoulp/ocio/build`

The directory structure

[2019-10-25 16:02] thirdknife commented on #774
I am able to run tests now.
[code]

What I am trying to understand is I was able to install python extension by running `make install`. Does it not mean that python package PyOpenColorIO should be available to import in python repl?

And how the tests are manage to import those python modules?

[2019-10-25 16:32] hodoulp commented on #774
1. Yes.

2. The command `/usr/bin/python2.7 "/workspaces/CIO/tests/python/OpenColorIOTestSuite.py" "/workspaces/CIO/build" "True"` takes care of everything needed to run the unit tests. Check the content of the file `OpenColorIOTestSuite.py` from line 6 to line 26.

Bottom line, running unit tests does not require any installation. The idea is to guarantee the use of the locally compiled library.

[2019-11-15 21:33] kkofler commented on #517
Your merge does **not** fix this issue. The offending code block is still present at https://github.com/AcademySoftwareFoundation/OpenColorIO/blob/master/src/OpenColorIO/OCIOYaml.cpp#L10

[2019-11-15 21:35] kkofler commented on #517
You upgraded the bundled yaml-cpp to 0.6.x, but the build against the system yaml-cpp 0.6.x is still broken and will remain broken as long as those forward declarations are present.

[2019-11-15 21:47] hodoulp commented on #517
My intent was not close the issue (github automatically did it). I only mentioned it in my pull request waiting one of you to close or not the issue.

[2019-11-15 22:09] hodoulp commented on #517
On ubuntu 19 with gcc 8.3 & clang 8.0, the build (including the Yaml 0.6.3 build) succeeds.

[2019-11-15 22:34] hodoulp commented on #517
Using ubuntu 19 and gcc 8:
1. No yaml installed, the build download Yaml 0.6.3 and successfully builds.
2. Compile & install yaml 0.6.3, OCIO build failed to detect Yaml so it downloads Yaml 0.6.3 and successfully builds.

The second use case is faulty as the right yaml is installed. Next week I will investigate that.

Does someone know how to 'find' the Yaml version from headers?

[2019-11-15 22:43] kkofler commented on #517
Try `apt-get install libyaml-cpp-dev` instead of compiling it yourself.

[2019-11-15 23:07] hodoulp commented on #517
By hacking the cmake files to use the installed yaml, the build fails and removing the problematic lines, fixes it. I tried with a 'compiled & installed' Yaml and with `apt-get install libyaml-cpp-dev`.

[2019-11-18 16:40] hodoulp commented on #517
I was not able to find a reliable way to correctly detect the Yaml version. Only the Yaml 0.6.3 could be correctly detected (i.e. the file `include/yaml-cpp/noncopyable.h` is removed from 0.6.3 versus 0.6.2). So, the detection is only reliable for 0.3.0 and 0.6.3. That's enough for OCIO v2 which expects to use the latest version.

Note that the `apt-get install libyaml-cpp-dev` installs Yaml 0.6.0

[2019-11-22 22:22] #517 closed

[2019-11-26 03:47] hodoulp commented on #791
@fnRaihanKibria @michdolan Following the merge of the pull request #883, could the defect be closed?

[2019-11-26 03:49] hodoulp commented on #791
The issue is now fixed in master following the merge of the pull request #883.

[2019-11-26 03:50] hodoulp commented on #821
@jiapei100 Is the problem now fixed in master?

[2019-11-26 03:53] michdolan commented on #791
Yes, agreed. The std::map limitation is gone now.

[2019-11-26 03:53] hodoulp commented on #709
@KelSolaar Is the problem still present in master?

[2019-11-26 03:57] hodoulp commented on #577
@sobotka Is the problem now fix in master following the merge of the pull requests #724 & #883?

[2019-11-26 05:53] sobotka commented on #577
Will give it a roll this weekend. Thanks so much for pushing some changes @hodoulp !

[2019-11-26 06:56] dbr opened #891 "Conditional branching in configs?"
We often have transforms which need to vary, say, sequence to sequence.

For example: say most of the show converts to `default_log` to apply a client grade.. except one sequence which needs `another_log`.

We currently implement this using the "lut_search_path fallback" pattern. As in, we have a fallback folder containing a fixed filename (usually symlinked to the desired LUT), and create folders

[2019-11-26 08:58] fnRaihanKibria commented on #791
Hello, thank you, please close it.

[2019-11-26 08:58] #791 closed

[2019-11-26 15:51] hodoulp commented on #562
@beew  Did you have a chance to try again? Can the defect be closed now?

[2019-11-27 03:42] doug-walker opened #893 "Improving how file paths are mapped to colorspaces"
OCIO currently supports a workflow where users may embed a ColorSpace name string in their file paths and this allows applications to automatically associate imported files with the correct ColorSpace.

However some users do not have the flexibility to alter the paths to the media files in this way.  There is a need for some additional capabilities that would allow simple functionality such as:
--

[2019-11-27 23:43] talonrenaud opened #894 "Issue compiling on Windows with OpenEXR 2.3 and 2.4"
Since OpenEXR version 2.3 (same issue with 2.4)  I'm running into so linking issues during compilation.
I get the following error when linking:

![image](https://user-images.githubusercontent.com/6299536/69765852-6cce9d00-112a-11ea-986c-c407545d611e.png)

My current workaround is to add `#define OPENEXR_DLL` at the head of each file causing linking issues :
_(Lut1DOpData.cpp, CPUProcessor.cpp, Fil

[2019-11-28 17:50] hodoulp commented on #894
Thanks @talonrenaud for using OpenColorIO and providing feedback.

The OpenColorIO library does not directly consume the OpenEXR library. For some of its command line tools, it only needs OpenImageIO  which could or not include OpenEXR. As OpenImageIO is only an optional third-party dependency, OpenColorIO cmake only expects to find the OpenImageIO includes & libraries (i.e. no compilation of Open

[2019-11-28 23:00] hodoulp commented on #894
@talonrenaud @meshula Can I close the defect?

[2019-12-02 12:27] vvzen opened #897 "Creating ICC profiles using the python bindings"
Hi,
I'm using OCIO for my studio libraries and I haven't been able to find a via to create ICC profiles using the python bindings.
I've been using the `PyOpenColorIO.Baker` class to bake LUTs, but I'm still subprocessing to `ociobakelut` cli whenever ICC profile generation is needed.
Is there a way to create icc from the bindings, instead of subshelling?

Thanks!

[2019-12-02 17:55] talonrenaud commented on #894
Yes, please you can go ahead an close this on my end. Thank you.

[2019-12-02 19:38] #894 closed

[2019-12-03 03:28] michdolan commented on #897
You can shell out to ociobakelut with subprocess, and wrap that up with a Python function as a workaround. ICC write support is currently exclusive to ociobakelut, and does not use Baker internally.

OCIO v2 (master branch development) adds ICC support to FileTransform, but currently for read only.

[2019-12-03 03:48] michdolan commented on #891
The first approach you describe ("OCIO powered mega-LUT") will be mostly supported by CLF/CTF support in OCIO v2. You can even use `Processor::write()` to losslessly write any processor (comprising your transforms) to a file, which could be referenced by another config. It doesn't answer the cleaner logical switch suggestion, but is a step in the right direction.

[2019-12-03 04:25] michdolan commented on #893
This would be really helpful to many studios.

Another approach could be a `Rule` class hierarchy, to avoid some names being reserved, which can be less clear and more prone to human error. That could also avoid bloat with added arguments down the road, adding new derived classes instead.

[code]

[2019-12-03 04:50] michdolan commented on #893
Alternatively, we could use an Enum to type a single Rule class. Something like:

[code]

In either of these cases, the `name` field may be unnecessary as well, since the rules wouldn't be exposed in a UI. Just some thoughts...

[2019-12-04 01:39] doug-walker commented on #893
Thanks for the suggestions Michael.  Actually, we are anticipating that some apps may want to expose the rules in the UI.  That was part of the thinking behind the proposed design.  Since the name string might get exposed in UIs we wanted the names of the Default and ColorSpaceNamePathSearch rules to be fixed/uniformly presented.  Hence the approach of making the name serve as both the description

[2019-12-04 03:09] michdolan commented on #893
In that case, I would at least propose the use of some string constants to avoid having to define those strings to create the specialized rules. Similar to the behavior of the built-in roles. Sounds great though!

[2019-12-11 02:13] p0las commented on #409
on windows you can use "DOS device paths".

The Windows operating system has a unified object model that points to all resources, including files. These object paths are accessible from the console window and are exposed to the Win32 layer through a special folder of symbolic links that legacy DOS and UNC paths are mapped to. This special folder is accessed via the DOS device path syntax, which is

[2019-12-30 17:48] sobotka commented on #751
I've fleshed out this request as an entry point for discussion.  Comments are open in the document, and welcome. https://docs.google.com/document/d/1RB_obY_G6ScCITWk_na1cd1NPrGVaWO3sX1a6kTiPaU/edit?usp=sharing

[2019-12-30 17:50] sobotka commented on #557
I would appreciate all wise folks here to evaluate this entry point for a metadata system within OCIO to potentially address this issue, as well as address the complexities of software seeking to use OCIO as a CMS.

Comments are open on the document, so please add them directly.

https://docs.google.com/document/d/1RB_obY_G6ScCITWk_na1cd1NPrGVaWO3sX1a6kTiPaU/edit?usp=sharing

[2019-12-30 17:52] sobotka opened #906 "[RFC] Uniform Metadata for UI Integration"
This is likely a feature that is required for UI integration and likely crosses many other issues currently in the tracker. I've started this document in an attempt to get to a workable solution and stimulate discussion.

Comments are open in the document, so please feel free to comment regarding issues, needs, etc.

![sVXrFjr6EnU3zEKrN42G4Mw (1)](https://user-images.githubusercontent.com/59577/73

[2020-01-08 15:48] michdolan commented on #261
Pinging this issue to resurrect it slightly, since CUDA support was discussed in this week's TSC meeting.

[2020-01-08 15:52] michdolan opened #907 "Metal support"
Add Metal (or another macOS-supported GPU rendering interface) support to accomodate future effects of Apple OpenGL deprecation.

[2020-01-10 20:29] djieff opened #910 "Potential regression on symlink feature for FileTransform"
Hi everyone,

When using ocio 1.0.9 FileTransform operations would allow us the usage of extension-less symlinks. Depending on the shot context, this symlinks could point to different files, of different formats.
While this was not an official feature, this was very convenient for example, the way our Digital Intermediate Space (dis), and their corresponding luts works:

Colorspace from config:

[2020-01-14 01:42] ghost opened #911 "Confused to how to install PyOpenColorIO for Windows."
As the title mentions. I've read though all the docs that I know off, for 3 hours and I'm clueless to how you're supposed to install PyOpenColorIO as a module for python 2.x.

(the official build from source doc made it even more confusing)

Looking through the internet for clues led me to nowhere. It seems very vacant about this topic but I managed to find one place where someone had asked the sa

[2020-01-14 17:31] Dithermaster commented on #907
I'll be adding our OpenCL kernel generation to OCIOv2 when it's ready. They might be a good starting point for Metal kernel generation. We wrote them for OCIOv1 but only locally.

[2020-01-14 18:10] nick-shaw opened #912 "SPI3D reader has no check for duplicated indices"
https://github.com/AcademySoftwareFoundation/OpenColorIO/blob/71d725e659010224f0b77e228f44ea433113525e/src/OpenColorIO/fileformats/FileFormatSpi3D.cpp#L180

The counter decrements as lines are read, but if duplicate indices exist this will not be picked up. A second instance will simply overwrite the contents of a previous instance, and any missing entries are left as [0, 0, 0].

[2020-01-17 00:38] #893 closed

[2020-01-17 21:31] hodoulp commented on #911
Hi @sillycalvin

You can have a look to [tests/python/CMakeLists.txt](https://github.com/AcademySoftwareFoundation/OpenColorIO/blob/master/tests/python/CMakeLists.txt) and [tests/python/OpenColorIOTestSuite.py](https://github.com/AcademySoftwareFoundation/OpenColorIO/blob/master/tests/python/OpenColorIOTestSuite.py#L13) to see how python unit tests are working.

Otherwise, the traditional way is t

[2020-01-17 21:36] hodoulp commented on #911
_Note_:  As this is more a question than a bug or feature request, you should use to OCIO user forum `https://lists.aswf.io/g/ocio-user/topics` to ask your question. Having a wider audience will certainly help you to have the right answer.

[2020-01-19 01:12] sillycalvin commented on #911
Thank you for the response and help. I will be sure to check out the forum. I'm sorry if it seemed as if I had already built the module. Whats troubling me is where I can find it or how I can build it in windows in order be then used for python.

Quick question is there a pre-built one I can find? like maybe a .whl file for pip to be installed of some sort. Thank you for your time.

[2020-01-20 14:57] hodoulp commented on #911
That's a discussion at the TAC level i.e. nothing for short-term to help you.

Concerning the library compilation, the documentation [here](https://opencolorio.org/installation.html#building-from-source) explains how to build (i.e. unfortunately a little bit old). Below are some lines to help you as the 'Python Bindings' are only built if `python` is found:
[code]
And double-check the line below:

[2020-01-21 15:12] hodoulp commented on #910
Hi @djieff

Thanks for your feedback and sorry for the late answer.
Please feel free to contribute (if you have some time) so we can all improve the library overall quality. Any kind of contributions are always welcome.

Patrick

[2020-01-22 20:22] sobotka commented on #623
Did this ever get added on the tracker?

[2020-01-22 22:04] sobotka commented on #906
Updated to include some YAML practical examples.
- Working reference space definition example
- Display type example
- Colourspace example

[2020-01-23 09:26] simonbjork commented on #911
Jumping in here as it might be related. Has anyone tried to build the python bindings with vcpkg? With the latest patch everything works great, execpt for the python bindings. I reported the issue [here](https://github.com/microsoft/vcpkg/issues/9657).

In the vcpkg portfile.cmake, the variables are USE_PYGLUE. Is that not relevant anymore? Also, I tried adding DOCIO_BUILD_PYTHON, but still no luc

[2020-01-23 13:32] michdolan commented on #911
What version of OCIO are you building? 1.1.1?

[2020-01-23 13:36] simonbjork commented on #911
Yes, 1.1.1

[2020-01-23 13:59] michdolan commented on #911
If you want a quick fix, pre-built wheels are available here (bundled with OpenImageIO Python bindings): https://www.lfd.uci.edu/~gohlke/pythonlibs/#openimageio

But in general, if you pass the following option to cmake, the bindings should build:
-DOCIO_BUILD_PYGLUE=ON

If your Python install is not being found (or it's finding only Python 3, which is not supported currently), you can inform cmak

[2020-01-24 13:31] simonbjork commented on #911
Thanks for the breakdown @michdolan

I use vcpkg and tried adding the those variables but still no luck. Not sure why it does'nt work but I guess it must be a vcpkg issue then? All the dlls etc are generated correctly.

By the way, the vcpkg port uses python3 as default, is that even supported? I changed to Python2, but still the same issue.

[2020-01-24 15:33] michdolan commented on #911
No Python 3 support yet unfortunately. And sorry I somehow read around your mention of vcpkg. I'm not sure of the details of that support currently.

[2020-01-28 10:08] KevinJW opened #915 "[RFC] support for role names as the process_space in Looks"
Recently I've been thinking a bit about how to improve the config format, so I'm going to open a few issues to spawn some discussions, relates to the recent v2 working group meeting discussion.

One thing I noticed this morning, is that it is not possible in v1 to use a role name for the process_space in a Look (running ociocheck fails as an example).

My specific use case was I wanted to specify

[2020-01-28 10:14] KevinJW opened #916 "[RFC] Support for context/environment variables in Roles"
Currently roles act as static aliases, I was wondering what people think to the idea of supporting context variables in place of the colour space destination:

`roles:
  show_grade_cs: <Context> { var: SHOW_GRADE_CS }
`
or some other syntax (I'll explain the <Context> part  next ...)

[2020-01-28 10:21] KevinJW opened #917 "[RFC] Explicit Context section similar to roles"
I was wondering about the idea of supporting an explicit section in the config file to support externally passed context in to the config.

<pre>
contexts:
  -! <Context> { name: show_grade_cs, var: SHOW_GRADE_CS, default: ACES - ACEScg}
  -! <Context> { name: some_context_that_must_be_provided, var: MANDITORY}
</pre>

The idea being we could have an explicit declaration of the expected contexts,

[2020-02-04 02:03] doug-walker opened #926 "Adding display-referred color spaces"
This proposal is to add a fundamental new capability to OCIO.  It goes beyond a simple new feature and reflects an enhancement to the underlying architecture.  As such this is a lengthy proposal which begins with some background information to define the problem and then proceeds with a specific proposal.

The issue is divided into sections, so you may skip down to the config and API proposal sect

[2020-02-04 03:27] doug-walker opened #927 "Providing an interchange mechanism between configs"
**BACKGROUND**

An OCIO config defines its own self-contained universe of color spaces with no explicit connection to other configs or other forms of color management.  It has been said that this is perhaps simultaneously both its best and worst feature.    ;-)

It is great in the sense that the config author defines every color space and how they connect to each other.  There are no unknowns and

[2020-02-04 04:27] michdolan commented on #927
🎉
Yes, awesome. This will be incredibly useful!

My only comment: Is there a reason why the interchange role couldn't be any role or color space which is defined in the two configs? I agree that ACES2065-1 is a logical choice for this, but it would be great to utilize existing configs that have other common roles/spaces already. As long as the user understands it is their responsibility to make su

[2020-02-04 04:45] KevinJW commented on #927
I agree with the principle, but I'm not convinced by the role name, though I have not come up with a better one, the prefix of 'aces' being a little too generic. ACES being a wide range of things including a number of colour spaces.

I'd say if it describes how to map the config reference space into ST2065-1 then th name should contain that, but ST2065-1_interchange, or ST2065-1_mapping (my best s

[2020-02-05 00:38] doug-walker commented on #927
Michael, you raise an interesting point.  As you point out, we cannot simply rely on existing roles as a mechanism for interchange since, e.g. scene_linear in one config will typically be a different space than scene_linear in a another config and I don't know how applications would be able to detect cases where they may happen to be the same.  It seems like the user would need to provide other in

[2020-02-05 03:26] michdolan commented on #927
That's a good point about the pre-designated role reducing the need for user input. I'm not opposed to having that be the standard behavior, but I do think it would be useful to have another function to handle custom cases. I was thinking more about the studio pipeline use case than that of a DCC.

An ACES linear space (ACES2065-1 or ACEScg) would be a common intermediary here, but there are odd c

[2020-02-05 04:33] KelSolaar commented on #927
Great proposal, I like it!

I'm fine with *aces_interchange*. Technically exchanging ACES data should be done as per the book, so people should not be surprised that it is ACES2065-1 under the hood?

Cheers,

Thomas

[2020-02-06 02:56] thirdknife commented on #774
@hodoulp does this [file](https://github.com/AcademySoftwareFoundation/OpenColorIO/blob/master/docs/developers/bindings/PythonAPI.rst) needs to be updated as part of this issue?

[2020-02-06 16:06] vvzen opened #928 "Check if colorspace is invertible"
Hi,

I'm currently writing an API on top of OCIO and I was wondering if there's a programmatic way to detect if a colorspace is not invertible. This could be helpful to automatically detect when we should avoid applying a colorspace transformation (since we don't use looks, some of our colorspaces also apply cdl/luts to give the final graded look, so being able to filter out non invertible colorsp

[2020-02-07 00:00] doug-walker commented on #928
Hi Valerio,

In OCIO v1, all of the transforms/operators that may be used to build a to_reference or from_reference are invertible except for Lut3D.  So if only the to_reference is available and the from_reference is needed (or vice versa), OCIO is typically able to build that on-demand.  In your example, even though only the to_reference is provided, OCIO will calculate the from_reference when ne

[2020-02-07 09:48] vvzen commented on #928
Hi @doug-walker ,
thanks a lot for your reply - it's a real gem and it helped me a lot!
I imagined OCIO would do something like that (building on demand) but it's great to actually know it for sure.
Can I ask you how a Lut3D could be inverted, if for example 2 points on the source are being remapped onto 1 single point in the destination space? So given that 1 point on the destination, which one b

[2020-02-07 17:23] hodoulp commented on #774
@thirdknife The answer is in two parts.

**First**, the example in the [file](https://github.com/AcademySoftwareFoundation/OpenColorIO/blob/master/docs/developers/bindings/PythonAPI.rst) must be updated i.e. the example only, nothing else.

**Second**, the C++ & Python binding documentations are auto-generated using `sphinx` and `rst` format and only the C++ part is now handled in master (but both

[2020-02-07 17:29] hodoulp opened #929 "Python binding documentation is broken on Windows"
When investigating the defect #774, I found that the generation of the Python binding documentation is broken on Windows.

The developer C++ & Python binding API documentations are auto-generated using `sphinx` and `rst`. The C++ part is working well but the Python one is broken. Both are correctly working in `RB-1.1`.

That's a CMake configuration issue on the Windows platform.

[2020-02-07 17:44] Dithermaster commented on #928
In the cases I needed to know this, I just asked OCIO to create the processor (config->getProcessor) and it throws and exception if it can't (e.g., because there is a 3DLUT). If you write your own logic, there's always the chance it could differ from reality, so I just go to the single source of truth.

[2020-02-07 19:07] hodoulp commented on #774
**_Note:_** The OCIO team is currently revisiting the tool to generate the Python bindings (instead of manually creating them) in order to reduce the workload on contributors. So, the generation of the Python binding documentation is incomplete because of some missing Python binding files. It explains why the [PythonAPI.rst](https://github.com/AcademySoftwareFoundation/OpenColorIO/blob/master/docs

[2020-02-07 20:43] BernardLefebvre commented on #927
Working on it

[2020-02-07 21:48] doug-walker commented on #928
Hi Valerio,

Regarding the Lut3D inversion, if the forward direction collapses several inputs into one output, then it is obviously not possible to recover the original inputs.  In that case, the inverse maps to one of the set of inputs that gets collapsed together (usually the one on the edge of the bijective part of the domain).  Another way to think of it is that the result of a [Forward --> In

[2020-02-17 19:00] huargovfx opened #933 "Compiling error in windows 10 OCIO 2.0"
Good day everyone,

I haven't compiled for a while OCIO, last time was 8 months ago, from master, and I've been using that version for a while, this time, I am having some issues. Now with the latest from master I have fond the following error while building.

[code]

[2020-02-17 19:27] michdolan commented on #933
Have you tried building with cmake option:
`-DOCIO_INSTALL_EXT_PACKAGES=ALL`

(don't include paths to your own dependencies when using this option)

That will pull all dependencies and statically link them for you. If that works, there might be an incompatability with your build of Half.

[2020-02-17 19:34] michdolan commented on #933
Possibly related:
https://github.com/AcademySoftwareFoundation/openexr/issues/302

[2020-02-17 19:39] huargovfx commented on #933
@michdolan Perfect!, that was it!, it now compiles and passes all tests succesfully. Thank you so much!

[2020-02-17 19:45] #933 closed

[2020-02-19 14:16] #929 closed

[2020-02-19 14:19] hodoulp commented on #774
@thirdknife You could now update the example as #929 is now merged.

[2020-02-23 11:30] YashAgrawal0 commented on #819
@michdolan I am taking this issue. Can you tell me how do I get started?

[2020-02-23 11:32] YashAgrawal0 commented on #912
@nick-shaw I want to contribute to this issue.

[2020-02-23 16:34] michdolan commented on #819
This page is intended to outline all software, libraries and DCCs (digital content creation applications), which support OpenColorIO. This includes commercial and open source products/projects. There are quite a few new DCCs in particular that are not reflected on this list (some of which I outlined in my initial comment, but that list is not exhaustive. Substance Designer now supports OCIO for ex

[2020-02-23 16:38] michdolan commented on #819
Also, to clarify:

Software that is already listed, but whose integration has matured since this document was written (so is out of date in its explanation)

Software that has moved/changed. Hiero is now a part of Nuke Studio, for example.

New integrations since this document was written. There are lots of these.

[2020-02-23 19:23] YashAgrawal0 commented on #819
@michdolan Thanks for the reply. I've posted in the ocio-dev mail list to collect info.

Shall I remove the softwares that are overhauled or assimilated?

[2020-02-23 20:36] michdolan commented on #819
Thanks @YashAgrawal0 . Perhaps they could just be moved into a deprecated section toward the bottom of the document.

[2020-02-24 04:29] dbr commented on #819
This list seems like it would be more practical using the GH wiki system or similar? Could be linked to from the compatible software page of course, makes it easier to edit, and more importantly is not versioned with the code itself (good thing for API docs etc, not good for documenting third-party things like this)

[2020-02-25 15:20] hodoulp commented on #912
Hi @YashAgrawal0
If you did not receive any feedback in a few days, I suggest that you move forward.

[2020-02-25 18:16] YashAgrawal0 commented on #912
Hi @hodoulp, I want to work in OpenColorIO as a part of my GSOC 2020. I have already searched for the ideas `https://github.com/AcademySoftwareFoundation/tac/tree/master/gsoc` and I would like to work on developing GUI interactive OCIO config authoring and visualization.

Could you help me how do I get started ? Currently I am searching for the good first issues in the repo and trying to solve it.

[2020-02-25 18:56] hodoulp commented on #912
Hi @YashAgrawal0,
Your current work #936 is a good starting point. If you are looking for a first 'dev' work, this defect is a good way to start (i.e. some C++ code changes, compile, debug and finally a unit test).

Concerning the `GUI interactive OCIO config authoring and visualization`, @michdolan could certainly help you.

[2020-02-25 18:59] hodoulp commented on #912
@YashAgrawal0 You should use #gsoc in the OpenColorIO Slack channel to ask all your questions concerning GSoC 20 & works. If you are not in, contact @michdolan .

[2020-02-26 10:01] brechtvl commented on #926
In Blender we have similar problems, where the design of OpenColorIO seems more aimed at VFX facilities than individual users that wouldn't create their own config.

I think it would be great if there was a document with recommendations on how to write a configuration, perhaps even more important (to us) than design changes like this.

As I understand it at least, everything in the proposal would

[2020-02-26 17:39] doug-walker commented on #926
Hi Brecht,  I agree with you that there is a problem with configs misusing the display/view section of the config.  In the case of the ACES config, the authors were forced to adopt that approach due to limitations in the ways important apps supported (or rather did not properly support) displays and views in their UIs.

However, this proposal does not change the app-facing aspect of views/dispays,

[2020-02-26 20:07] KelSolaar commented on #926
@doug-walker: Sorry for not having commented earlier, being thinned from all the directions!

I like the proposal and it does make a lot of sense. I would be in favor of the alternative DAG design but I have not a strong opinion about it, it is mostly my nerd facet that thinks it would be fantastic but if pragmatism and experience have shown that it is not needed, well,  I'm equally happy with the

[2020-02-26 20:17] brechtvl commented on #926
@doug-walker, thanks for the reply, I don't want to take this off-topic. It just would be a shame to get this new functionality, but perhaps still struggle to get people to even adopt the display / view transform concept which I think is really a core feature of OCIO.

Anyway, from the point of view of an application developer the proposal by itself is great.

Just to clarify what I meant by the b

[2020-02-27 00:06] doug-walker commented on #926
@KelSolaar, I like your idea about scene_colorspace, although I will suggest to_scene_reference and from_scene_reference might be clearer.  I think we should allow these as synonyms for to_reference and from_reference.  In OCIOYaml we will save v2 configs using the new form.  I'll add this to the agenda for tomorrow's working group meeting.

@brechtvl, thanks for clarifying your points.

[2020-02-27 00:36] KelSolaar commented on #926
Yeah sorry, that what I was meant to write! Me failing at multi-processing  :)

[2020-02-27 11:34] YashAgrawal0 commented on #592
Is this issue still open?

[2020-02-27 11:36] YashAgrawal0 commented on #572
@KevinJW , @hodoulp

I would like to work on this issue. can you help me how do I get started?

[2020-02-27 13:56] hodoulp commented on #592
@YashAgrawal0 Yes, the defect is still open.
The problem is that the Windows Debug build expects to find `python27_d.lib` which is generally not installed by default on Windows. Most of the time, no one would like to debug Python so the Windows Debug build should use `python27.lib`.

[2020-03-02 08:54] maxmadzz opened #940 "Does it support Linux arm aarch compilation?"
I encountered the following error when compiling the aarch architecture:
[code]

[2020-03-02 10:56] KevinJW commented on #572
So as an example, I think when we run ociocheck against this file, it should complain that the look refers to a file transform that does not exist.

[ocio_check_look_config.ocio.txt](https://github.com/AcademySoftwareFoundation/OpenColorIO/files/4274975/ocio_check_look_config.ocio.txt)

[2020-03-02 15:53] hodoulp commented on #940
Hi @maxmadzz

The problematic include is one from Intel Intrinsics which are enabled by default in the OpenColorIO projects. Refer [here](https://software.intel.com/sites/landingpage/IntrinsicsGuide/#techs=SSE2) to have some information.

Even If the project does not actively support ARM CPUs the library is a C++ (i.e. C++11) library so it should compile. But you need to disable the Intel intrinsi

[2020-03-02 19:46] rashil2000 commented on #512
Hey, any updates on this issue?
This seems to be a good starting point for contribution.

[2020-03-02 21:53] hodoulp commented on #512
@michdolan @scoopxyz Any hints?

[2020-03-02 22:20] michdolan commented on #512
This is potentially a major undertaking. Currently the OCIO webpage is static, fed from the ``gh-pages`` branch of this repo. Ideally we would be able to do something like what RTD supports, where you can browse docs from each past release, as well as from the current development branch (``master`` in our case). A good illustration of this is the landing page of OpenImageIO's docs: https://readthe

[2020-03-03 06:05] rashil2000 commented on #512
Cool! I can get started with integrating RTD in this repo.
It'll be great if you can provide some resources to get started along.

[2020-03-03 12:47] rashil2000 commented on #790
Can this issue be closed in lieu of #512?

[2020-03-03 13:18] rashil2000 commented on #99
Hey @jeremyselan @dbr, any updates on this issue?

[2020-03-03 14:09] hodoulp commented on #447
I also experienced source code being a copy & paste of `ociodisplay` so revisiting the apps implementation would be a great thing.

[2020-03-03 14:11] hodoulp commented on #99
@michdolan @scoopxyz , Perhaps a defect to deprecate or at least to put on hold while waiting for the new documentation mechanism.

@rashil2000 I think that you should better look for another defect to start working in the OpenColorIO project.

[2020-03-03 15:16] rashil2000 commented on #99
That's alright @hodoulp! I'm thinking about working on #512, which integrates ReadTheDocs  with OCIO. Just waiting for approval there...

[2020-03-03 16:38] michdolan commented on #512
Thanks for your interest in contributing @rashil2000 . Before you start on anything, let's get input from @scoopxyz , who was doing some initial work on this already. There were mixed opinions about the right way to approach it, and there mmight need to be some community discussion first. If you are in the OCIO Slack, that's a good place to field the question too, since it has been discussed there

[2020-03-03 19:17] rashil2000 commented on #512
I'm not on the Slack workspace. Please send me an invite at rashil2000@gmail.com.

[2020-03-04 11:09] YashAgrawal0 commented on #572
@KevinJW Can you eleaborate a bit more as I am new to OCIO, I've installed OCIO as per the instructions given in
`https://github.com/AcademySoftwareFoundation/OpenColorIO/blob/master/docs/installation.rst`.

Now what do I need to do to tackle this issue?

[2020-03-04 15:18] KevinJW commented on #572
so if you have a working build then you should have a tool called ociocheck, the first step would be to run the file I attached through ociocheck. There are a number of ways to do this but the simplest would be to pass the file in using the --iconfig <file> option.

The goal is to make this actually fail for the right reason, which is that there is no file called "file_that_does_not_exist.spimtx".

[2020-03-05 19:04] YashAgrawal0 commented on #572
@KevinJW  Thanks for the update.

Currently I am getting the output for  ` ociocheck --iconfig ocio_check_look_config.ocio.txt `
which is shown in the [image](https://user-images.githubusercontent.com/24262584/76015762-b3aa0b00-5f41-11ea-8c4c-06a0ca73d7c5.png).

In the output I am getting this error in Sanity Check :

Can you help me with this?

[2020-03-05 19:49] KevinJW commented on #572
Oops, that is my error, you should edit the line containing the
active_displays list and rewrite it to only contain display1 and remove the
P3 and Rec709 references.

But now at least you have a working binary :-)

Kevin

On Thu, 5 Mar 2020, 19:04 Yash Agrawal, <notifications@github.com> wrote:

[2020-03-06 08:16] YashAgrawal0 commented on #572
@KevinJW , Please review the Pull Request.

Thanks,
Yash

[2020-03-06 08:58] YashAgrawal0 commented on #547
Is this issue still open?

[2020-03-06 09:09] YashAgrawal0 commented on #536
@scoopxyz  I'd like to work on this issue.

Can you help me how do I get stated ?

[2020-03-06 09:11] YashAgrawal0 commented on #448
@scoopxyz

Is this issue still open?

[2020-03-06 17:48] doug-walker commented on #536
@YashAgrawal0, let's ask @hodoulp if this is actually a good first issue.  To me, I don't think it is.

First of all, SanityCheck would not be able to detect this problem since once the Look object has been parsed, there is no record of the second transform.  Furthermore, this is not an isolated problem, it basically applies to anything in the config file.  OCIOYaml.cpp generally doesn't look for

[2020-03-06 17:54] doug-walker commented on #448
@YashAgrawal0, I would not recommend this one because @michdolan is currently upgrading the python bindings.  We should check once that is done if this is still a problem.

Looking at Config::setRole, it looks like the underlying C++ is correctly removing the role when the argument is empty.

[2020-03-06 18:07] doug-walker commented on #547
@YashAgrawal0, yes this issue is still open.  @hodoulp, could answer other questions on this.

[2020-03-07 07:54] YashAgrawal0 commented on #572
@KevinJW  I messed up in the previous PR as I was solving other issues which also get included in that PR so I've closed that PR.

Please review this new Pull Request and now ociocheck throws an error if the file is not present which is defined in the FileTransform.

The Error thrown is shown in the [image](https://user-images.githubusercontent.com/24262584/76139532-c7a35900-6076-11ea-8627-24ecd5f

[2020-03-07 08:02] YashAgrawal0 commented on #819
@michdolan , @hodoulp , @lgritz

Sorry for messing up the previous Pull Request But now I've closed that PR and created a new pull request with all the changes sugeested.

Please review it.

Thanks
Yash

[2020-03-09 06:52] rashil2000 commented on #447
Hey @hodoulp. I'd like to work on this. Any tips on how to get started?

[2020-03-09 13:47] #819 closed

[2020-03-09 14:06] hodoulp commented on #547
@YashAgrawal0 The defect is still open and relevant.

As mentioned by @doug-walker, the `EGL` option could also be a very interesting investigation/fix.

[2020-03-09 17:13] hodoulp commented on #536
@YashAgrawal0, @doug-walker you raised a good point about the long-term goal. But I think we can still move step-by-step. The code already implements some validation on missing 'mandatory' keywords so it could be used to validate that the keyword is only present once.

Concerning the `transform` and `inverse_transform` & `process_space` of the `Look` I think that it would be a valuable add to the

[2020-03-09 17:34] hodoulp commented on #447
Hi @rashil2000 Happy to see your interest in the OpenColorIO project.

To have a first pull request (to demonstrate your abilities), I would not suggest to start with this defect. As we are currently revisiting feature need to correctly refactor the app code.

You should think about about something small and localized. A suggestion could be to have a look at #536, and validate the `ColorSpace` par

[2020-03-09 19:04] michdolan commented on #512
We discussed this in the TSC meeting today. Since @rashil2000 was able to stand up RTD so quickly, but is blocked by the need to build OCIO to get complete docs (due to CMake target dependencies), that raises the point that the doc build system itself could be revisited.

Being able to build the docs via CMake is important, but if the Sphinx build process could be decoupled from CMake, and run ind

[2020-03-11 13:30] #572 closed

[2020-03-12 02:36] MOFD308 commented on #547
If I want to take "Restore Java bindings" as my Google Summer of Code project, can any members tell me where to start? Thanks!

[2020-03-12 03:05] michdolan opened #950 "Restore OCIO Java bindings"
The OCIO Java language bindings have not yet been updated to support the newly developed OCIO v2 API. Java provides additional Android platform support, but needs some effort to revive. Additionally, adding Java unit test support to OCIO's CI infrastructure would help maintain the functionality as OCIO continues to evolve.

[2020-03-12 03:06] michdolan commented on #547
Hi @MOFD308 - thanks for your interest in our GSoC involvement. I've created a new issue for the Java bindings where we can discuss this:

https://github.com/AcademySoftwareFoundation/OpenColorIO/issues/950

[2020-03-12 03:20] michdolan commented on #950
In response to @MOFD308:

The existing Java bindings are here:
https://github.com/AcademySoftwareFoundation/OpenColorIO/tree/master/src/bindings/java

The updated OCIO public API is represented by the header files here:
https://github.com/AcademySoftwareFoundation/OpenColorIO/tree/master/include/OpenColorIO

This project involves updating the existing Java bindings to account for the updated API,

[2020-03-12 13:27] Popeyes-bit commented on #950
I am  interested in this project,  can you add me on the slack workspace my email id is ankursoni037@gmail.com

[2020-03-14 21:16] MOFD308 commented on #950
@michdolan Thanks for your reply and my email is [xguo262@wisc.edu](url).

[2020-03-15 18:10] MOFD308 commented on #774
Is this issue open for GSoC?

[2020-03-15 19:33] MOFD308 commented on #912
I want to solve this issue but I want to know why we need to check the duplicated index? What will happen if missing entries are [0,0,0]? Should the array be at the end of the program? Thanks!

[2020-03-17 05:40] sobotka commented on #928
As per our discussions in the OCIO meeting, I believe it is worth making the distinction whether or not a particular transform is invertible by way of reciprocity, despite always succeeding.

Useful from a DCC vantage for UI here.

Does this seem reasonable @doug-walker ?

[2020-03-17 09:55] rashil2000 commented on #659
@hodoulp @hodoulp Shouldn't this issue be closed given that this stuff has been implemented already?

[2020-03-17 14:00] hodoulp commented on #536
@rashil2000 The method `CheckDuplicates()` is now available to check for other duplicates.

[2020-03-17 14:06] rashil2000 commented on #536
@hodoulp Okay, what all other functions need this check? I'll put up a `CheckDuplicates()` call in each of them.

[2020-03-17 14:08] hodoulp commented on #536
@rashil2000 Thanks for the help. But your focus has to be your summer project because you only have two weeks to write it, and you will certainly need some feedback during the process.

[2020-03-17 16:59] doug-walker commented on #928
Yes Troy, as you wrote, that topic has come up.  We'll need to discuss more how to implement it.  For example, it seems to imply that the contents of the src and dst menus for a color space conversion should no longer be the same.  This is potentially something that could be added to the new app helpers that Patrick just did.

[2020-03-17 17:54] sobotka commented on #928
Can you elaborate on this a bit if you have time?

Thanks Doug!

[2020-03-17 18:10] doug-walker commented on #928
I was referring to end-user-facing tools such as OCIOColorSpace Transform that have menus for a source and destination color space.  What I meant is that if we provide a way for config authors to indicate that a certain direction should not be allowed (from_ref/to_ref), then that means that certain color spaces will need to be removed from either the src or dst menus.  Today, apps just iterate ove

[2020-03-17 21:25] doug-walker commented on #621
This has now been implemented.  After further discussion, we decided to make control over fast vs. exact one of the OptimizationFlags, see OPTIMIZATION_LUT_INV_FAST in OpenColorTypes.h.

[2020-03-17 21:25] #621 closed

[2020-03-17 21:28] doug-walker commented on #620
This was implemented by PR #943.

[2020-03-17 21:28] #620 closed

[2020-03-17 21:31] doug-walker commented on #610
The CLF support is now complete with PR #918.  OCIO now has complete read and write support for the latest CLF spec (v3) included in the ACES 1.2 release.

[2020-03-17 21:31] #610 closed

[2020-03-17 21:31] doug-walker commented on #609
This issue has now been implemented.

[2020-03-17 21:31] #609 closed

[2020-03-18 16:48] diptanshumittal commented on #950
@michdolan  Can you please add me to the slack workspace ?
My email id is - diptanshu18232@iiitd.ac.in

[2020-03-18 19:35] YashAgrawal0 commented on #746
@sobotka I'd like to contribute to this issue. Can you help me how do I get started with this?

[2020-03-18 19:58] sobotka commented on #746
I believe it would involve adjusting the `cmake` in a non-invasive manner. Then test across platforms to make sure the change doesn’t break some combination?

[2020-03-18 20:13] YashAgrawal0 commented on #382
Is this issue still open?

[2020-03-18 20:15] YashAgrawal0 commented on #746
Can you elaborate a bit more as I am new to OCIO community.

How do I make changes in cmake for this and test it across different platforms?

[2020-03-18 20:16] YashAgrawal0 commented on #448
@michdolan  have you done upgrading the python bindings?

[2020-03-19 02:58] doug-walker commented on #382
Yes, I believe this is still a useful issue to work on Yash.

[2020-03-25 01:58] #940 closed

[2020-03-28 14:22] rashil2000 commented on #536
@hodoulp Can I work on this now?

[2020-03-29 14:52] hodoulp commented on #536
@rashil2000 yes you can continue.

[2020-03-29 16:14] rashil2000 commented on #536
@hodoulp Can you tell me what other functions need the check? I'll put up a call in each.

[2020-03-30 19:00] hodoulp commented on #536
@rashil2000 As you now have a project for GSoC & demonstrated your ability to create a valid pull request, I will change the question. Take some time and propose us something. But if you have question(s) or blocker(s), don't waste too much time and contact us.

Once you have something in mind, validate your proposal before going too far in the code.

[2020-03-31 08:12] rashil2000 commented on #536
@hodoulp Okay, I'll try doing some investigation and send a PR.

[2020-04-01 00:21] doug-walker opened #980 "Provide a set of common built-in transforms"
Currently all OCIO color spaces need to be provided using external LUT files (except for a few trivial possibilities that may be defined in the config, e.g. using an ExponentTransform). It would be useful to have some built-in transforms that OCIO could generate in memory and on demand. This would provide a number of advantages:

1)  It would be possible to define configs that don’t rely on extern

[2020-04-02 17:39] zachlewis commented on #980
I love this proposal. This would be so helpful for so many reasons... to the end that OCIO configs are human-readable and writeable, having an unambiguous, universal shorthand for commonly used transforms would do wonders for config reliability, validity, portability, and accessibility. I can't tell you how many times I've diagnosed configs with mismatched transfer functions and gamut transforms.

[2020-04-02 18:54] richardlalancetteyoui commented on #279
Been looking for this for a few days! I'm stuck with problem on cocoa.h.

Thanks for sharing dbr!

[2020-04-06 20:07] doug-walker commented on #980
Thanks for the feedback @zachlewis!  Interesting point about a failover.  We will put together a PR for the BuiltinTransform.  It should be straight forward for someone to extend FileTransform to call that after exhausting its normal search path.

[2020-04-07 11:20] YashAgrawal0 commented on #382
@dbr  @doug-walker

When I run this command :

I got the following errors :

[code]

Can you help me resolve these?

[2020-04-07 11:30] YashAgrawal0 commented on #448
Any updates @michdolan ?

[2020-04-07 12:48] dbr commented on #382
Oh, “lin” and “project” are color spaces in our internal OCIO config, but they can be changed to any other space and the problem be the same.

You’d need to download one of the example configs (or write one - the actual content of the colour spaces don’t have any bearing on the error so long as they are syntactically valid), then point the command to that config file either via the OCIO end variab

[2020-04-07 13:15] hodoulp commented on #448
@YashAgrawal0 Thanks to @michdolan, the Python bindings upgrade is currently in review #976 and should be merged soon (i.e. potentially this week). As mentioned by @doug-walker the `Config::setRole(const char * role, const char * colorSpaceName)` removes the `role` if `colorSpaceName` is null. Only the Python API call will need some test and a dedicated Python unit test if missing.

For short-term

[2020-04-07 16:25] zachlewis commented on #980
Thanks @doug-walker -- looking forward to the PR, whenever you guys get around to it! I'll open a separate thread afterwards specifically for the FileTransform failover business -- I'm not much for C++, but it does seem like a straight forward enough challenge, as you say, so I'll definitely try my hand.

You guys aren't planning a "NoOp" or "Null" BuiltInTransform by any chance, are you? If not,

[2020-04-07 18:27] zachlewis commented on #927
So, just spitballing here, but... is there a place of some kind of config inheritance / merging / overriding mechanism? I.e., if one OCIO config is dropped somewhere within another's search path...?

I think that could be a really succinct and powerful way of providing levels of indirection not easily articulated in a single config (although @KevinJW and @dbr have proposed some really interesting

[2020-04-08 02:59] doug-walker commented on #980
Zach, yes we will definitely have an "identity" Builtin that is just an identity matrix.

[2020-04-08 12:12] YashAgrawal0 commented on #382
In my machine I ran ociobakelut command for both the cases when output file path is specified in a non-existent folder and in a directory with root permissions, in both the cases I got the error  `non-writable path` which was the expected behaviour.

Refer to the [image](https://user-images.githubusercontent.com/24262584/78782486-be801180-79bf-11ea-9a7b-53a733231ca4.png) for more info.

[2020-04-08 13:05] dbr commented on #382
Ahh! I only just noticed this is already fixed in 01246674361fcee31be8aba2eee74722f1f018c7 via pull request #854

[2020-04-08 13:05] #382 closed

[2020-04-08 21:32] zachlewis commented on #927
You know what? Scratch what I said above.
Not only does it not have anything to do with the actual proposal,  but even if it were technically possible to support, (re)defining actual colorspace definitions dynamically with config snippets distributed across the search path hierarchy would be... kind of a nightmare in production. This would create many non-intuitive, problematic scenarios and unwan

[2020-04-09 01:07] doug-walker commented on #927
Zach, yes, the two new roles are aces_interchange and cie_xyz_d65_interchange, but there is an API that allows other roles to be used.  This issue has now been implemented in PR #922 and #957.

[2020-04-09 01:07] #927 closed

[2020-04-09 09:08] YashAgrawal0 commented on #608
I'd like to work on this issue, help me get started?

[2020-04-09 09:13] YashAgrawal0 commented on #519
Is this issue still open?

[2020-04-09 13:24] hodoulp commented on #608
That's not anymore a problem. All files are now only in the directory `[project]/build_rls/testdata`

[2020-04-09 13:24] #608 closed

[2020-04-09 13:27] hodoulp commented on #519
Wait for the merge of #976 which rewrites the Python Bindings. After the pull request merge, the issue could be revisited.

[2020-04-23 18:23] sobotka opened #998 "[CMAKE] FindPybind failure on Debian Buster"
Platform: Debian Buster amd64

Summary: Build fails with:
[code]

Description: The FindPyBind is permitting the build to continue despite the PyBind11 library version being insufficient. As of now, the current version of PyBind11 reported on Debian Buster is:
[code]
The required version minimum is:
[code]

[2020-04-24 05:29] michdolan opened #999 "TSC Nomination: Carol Payne, Netflix"
Per the guidelines of the OCIO `GOVERNANCE.md`, this issue is to nominate adding Carol Payne as a voting member of the OCIO TSC, and as an official representative on the TSC for Netflix.

Carol has been actively participating in TSC meetings since September of 2019. She is currently an Imaging Specialist at Netflix, and was previously a Color and Imaging Scientist at ILM. She has taken initiative

[2020-04-24 17:06] doug-walker commented on #999
In addition to what Michael wrote, Carol is also a co-chair of the ACES Gamut Mapping VWG.

I think this is a great idea and second the proposal.

[2020-04-24 18:41] sobotka opened #1000 "[GPU] GPU Incorrect Scaling Errors in trivial uniform domain [0.0, 1.0]"
**Branch**:
 v1.1.1 tag head

**Summary**:
OpenColorIO appears to exhibit GPU quantisation errors that are pronounced when using simple 1D LUT encodings such as the sRGB inverse EOTF. It appears that domain values  near `[0.0, 1.0]` suffer from large 3D shader edge issues.

**Additional Information and Diagnostics**:
The example configuration located [here has a trivial proof of principle](https:/

[2020-04-25 17:52] sobotka commented on #1000
Here's a sample screenshot with the reference space being a smaller-than-sRGB coverage of values of +3 EV to -5 EV. Code value `253/255` results due to the incorrect edge sampling (?) behavior? Likely an `EDGE_SIZE - 1` double up somewhere?

The reference space doesn't even cover the generic range that sRGB can cover and the edge error is apparent.
![lg2 reference space allocation vars (-7.47393,

[2020-04-26 06:34] #1000 closed

[2020-04-27 15:57] scoopxyz commented on #999
Just realized that...

...means we don't have a way to override the two week wait time... but assuming no objections are raised, see you on the TSC in two weeks 😁

[2020-04-27 16:04] scoopxyz opened #1003 "Website == RTD?"
Just raising the question about the OCIO website and documentation in general. I wanted to ask peoples opinions about whether the Website should be equivalent to the ReadTheDocs pages, or we we should have a separately curated website/landing page that links to the RTD site?

I can see the argument for both systems, so just wanted some outside input...

Example landing pages:
https://sites.google.

[2020-04-27 17:41] doug-walker commented on #1003
Thanks for starting this thread Sean!

Personally, I like the OpenCue example.  It looks modern and professional.  So I do like the idea of having the home page be something more cool looking than just a RTD page.  However I don't think it needs to be a full site like we have now -- it could be just a landing page that then points to RTD, GitHub, the ocio-dev/user forums, ASWF, and perhaps a Wiki,

[2020-04-29 13:27] michdolan commented on #1003
Thanks Sean! Completely agree. Noting too that LF has a creative services team that can do graphic design work if needed. I believe they are designing a new OpenEXR logos currently. We can source community help too of course, but if needed they are there to help.

[2020-04-29 18:24] sobotka commented on #980
Can we please supply XYZ first? Vastly more useful than going to ACES for a colour management tool.

[2020-04-29 21:47] KelSolaar commented on #1003
Here is something un/related but/and very useful copied verbatim from [one of our issues](https://github.com/colour-science/colour/issues/523):

---

This article has some good information that could be useful to apply to our documentation: https://www.divio.com/blog/documentation/. The gist of it is a clear delineation between those 4 pillars:

## TUTORIALS
A tutorial:

- is **learning-oriented**

[2020-04-30 18:00] carolalynn22 commented on #999
Thanks all! Excited to continue :)

[2020-04-30 18:14] carolalynn22 commented on #1003
I agree with Doug, too. Like the idea of a modern, well designed, easy to navigate landing page, with links out to relevant info, wherever that may exist. Most flexibility and maintainability long term.

If we can work with LF for logo design, I think that's a good option, and also might provide a sense of consistency and familiarity within the ASWF projects.

[2020-05-07 05:31] #999 closed

[2020-05-15 20:47] doug-walker opened #1017 "Exception behavior and name of Config::addDisplay"
The addDisplay method on the Config class does not currently throw an exception if the attempt to add the display/view fails.  There is no indication to the calling app that it has failed.  We think it would be better if this method throws when the call is not able to succeed (as do most of the other API calls).

However, this is part of the public API and it's possible that some client apps may n

[2020-05-31 12:23] VVD opened #1023 "Build error with python 3.7"
FreeBSD 12.1 amd64.
With DOCS option OFF build fine with python 3.7 and python 2.7.
But with DOCS option ON build fine with python 2.7 only. With 3.7 I got error and search didn't help.
Build log:
[code]

[2020-06-01 18:25] hodoulp commented on #1023
Hi @VVD
OCIO 1.x does not support Python 3. But the coming OCIO v2 supports both Python versions.

[2020-06-04 03:53] michdolan commented on #998
@sobotka is this working properly in your environment now?

[2020-06-04 04:07] michdolan commented on #604
CI is now using DockerHub images on Linux, provided by the aswf-docker project,

[2020-06-04 04:07] #604 closed

[2020-06-04 04:24] michdolan commented on #747
Can this be closed?

[2020-06-04 04:28] michdolan commented on #536
Fixed in #993

[2020-06-04 04:28] #536 closed

[2020-06-04 04:43] michdolan commented on #448
[code]
This is working in the new Python bindings.

[2020-06-04 04:43] #448 closed

[2020-06-04 05:26] sobotka commented on #998
Need to give the Pleasures of Building another whirl...

[2020-06-04 20:10] ChinYing-Li commented on #547
Hi, is this issue still open? OP's reason for wanting to get rid of GLEW is to prevent crashes when glewInit() isn't called. As an alternative, libepoxy requires no initialization code.
I can also investigate the possibility of "replacing GLX with EGL". Any suggestions?

[2020-06-06 19:21] doug-walker opened #1028 "Option to process data channels"
An OpenColorIO ColorSpace has a property called isdata that is intended to be set to "true" for non-RGB image data such as alpha channels, normals, Z-depth, position, object IDs, etc.  OCIO gives these channels special treatment by not applying most color transforms.  For example, if the source or destination of a ColorSpaceTransform is a ColorSpace whose isdata is set to true, no processing is ap

[2020-06-06 19:29] doug-walker opened #1029 "Refactoring DisplayTransform"
DisplayTransform, along with ColorSpaceTransform, form the heart of OCIO.  This is where all the business logic for connecting color spaces lives.  However, DisplayTransform is quite complicated, with many features that do not seem widely used (linearCC, colorTimingCC, channelView, displayCC, looksOverride).  Also, the implementation of colorTimingCC and channelView are not well suited to all apps

[2020-06-06 19:36] doug-walker opened #1030 "Add the ability to define shared views"
When authoring configs with a large number of displays, the display/view section of the config can become quite lengthy and difficult to read.  In other words, with D displays, V views, there would be V x D definitions (assuming each view is used with each display, which is a common scenario).  Some configs will also define copies of the same view with and without looks, leading to even more defin

[2020-06-06 19:54] doug-walker opened #1031 "Add a color space property to describe the encoding"
The ColorSpace class in OpenColorIO currently has a number of descriptive properties such as bitdepth, equalitygroup, family, and isdata.

In addition, it would be very helpful for applications to be able to know the basic type of encoding of a color space.  For example, it is well known that the performance of various types of image processing algorithms varies based on the type of encoding.  App

[2020-06-06 20:04] doug-walker opened #1032 "Allow applications to filter views based on color space"
OpenColorIO allows defining multiple views for each display.  In many cases, certain views will be intended for use with certain types of color spaces.  For example, a Raw view may be intended for data color spaces and a Film view may be intended for scene-linear or log color spaces.  However, there is presently no easy way for applications to filter the list of views based on the color space of t

[2020-06-06 22:00] sobotka commented on #1032
Much needed and excellent work.

The following would simply provide a granular enumeration under the various rules categories, if I am reading this correctly?

[code]

[2020-06-08 06:44] michdolan commented on #1028
Good point. One tricky aspect to this is that even if you wanted to display a data channel through the PQ, you would only want to apply the device encoding portion of the display transform, but bypass any creative "look". You would essentially want to preserve the relative appearance of the data on the display. Perhaps it should still bypass the view transform, but not the display colorspace? Or a

[2020-06-08 12:34] hodoulp commented on #547
Hi @ChinYing-Li,
The defect is still open which could be an interesting 'project' if you have a linux machine.

But it represents two works. The first one is get rid off GLEW for linux platform only (as explained by @pjurkas). The second is to improve the GPU unit test framework to run on headless machines and the use of EGL library could allow that. It should be two pull requests as the second wo

[2020-06-08 12:35] hodoulp commented on #562
Fixed, and now more information from the author. So I close it.

[2020-06-08 12:35] #562 closed

[2020-06-08 23:43] doug-walker commented on #1032
Troy, for the example you quoted, a call to the Config method getNumViews("sRGB", "foo") would include the "ACES" view in the returned count if the color space "foo" has the new encoding attribute which contains a string listed in the rule (either "scene-linear" or "log" in this case).  For example:
[code]

[2020-06-08 23:49] doug-walker commented on #1028
Michael, my thinking was that the config would define a view specifically for a type of data (such as an alpha channel).  For example, it could make the alpha channel appear as it would have on an sRGB monitor without color management.  So the entire display/view processing could be applied in that case.

[2020-06-09 00:43] sobotka commented on #1028
I think the view for data is a much needed result, and look forward to this implementation.

In your proposal Doug, if I am reading you correctly, I am guessing that a data’s view transform would honour the display colourimetry, thereby rendering the data in a somewhat “display agnostic” fashion?

Terrific stuff folks.

[2020-06-09 03:01] mundane140 commented on #525
How to start with this one?

[2020-06-09 03:08] sobotka commented on #747
Sincere apologies for the delay here peeps. Compiling on Debian Buster on a fresh clone compiles perfectly 100%, no errors.

Huge thanks and tremendous effort.

[2020-06-09 03:10] sobotka commented on #998
So sorry Michael for not hammering on this sooner.

I've tested a clean checkout against default cmake finding, and it finds 2.7 on Debian buster, and cleanly compiles.

I manually flipped it over to 3.7, and it too cleanly compiles.

Tremendous work. Thanks so much.

[2020-06-09 03:45] michdolan commented on #998
No worries at all. Thanks for reporting the issue!

[2020-06-09 03:45] #998 closed

[2020-06-09 03:46] michdolan commented on #747
Thanks @sobotka !

[2020-06-09 03:46] #747 closed

[2020-06-09 03:49] michdolan commented on #1028
Ok, thanks for the explanation Doug. That makes sense.

[2020-06-09 04:09] michdolan commented on #1029
This sounds like a good plan to me. I also agree with your arguments for renaming `DisplayTransform`.

Would `ViewingPipelineTransform` inherit from Transform? If it can't be used as a transform (i.e. to construct a processor, or be added to a color space definition), I wonder if `Transform` should be dropped from the name,

Perhaps it could be called something like `LegacyViewingPipeline` (aligni

[2020-06-09 04:17] michdolan opened #1034 "Create Python bindings for libutils"
I think it could be worthwhile to create a optional, secondary Python lib which binds `libutils` for utilizing the convenience of the various helpers, and helping to interface with OpenImageIO's Python bindings, and PyOpenGL, etc. There are quite a few cases in a pipeline for implementing these concepts in Python tools (which primarily leverage C++ libs under the hood), so it would be great to off

[2020-06-09 04:27] michdolan commented on #1031
There's also categories now too. we'll definitely need to document how each of the three classification systems are intended to be used to avoid confusion.

I do like the idea though of having a predictable way to understand the the encoding at a glance.

[2020-06-09 13:52] hodoulp commented on #525
Hi @mundane140 ,

The best way to start the task is to implement a GPU unit test framework using Dx11 (with the existing OpenGL unit test framework as example). With the recent work done on `master` the HLSL support is now in without having anyway to test it.

Refer to #526.

[2020-06-09 13:52] hodoulp commented on #525
Closing the defect as the HLSL support is now in.

[2020-06-09 13:52] #525 closed

[2020-06-09 21:59] doug-walker commented on #1029
The ViewingPipelineTransform would not inherit from Transform.  It would have a getProcessor method.  We used the "transform" name since it is a port of the original DisplayTransform, but we are open to the idea of just calling it ViewingPipeline, if that works for you?  At some point, the LegacyViewingPipeline name might be appropriate, but at the present time we don't have a preferred ViewingPip

[2020-06-11 03:53] doug-walker commented on #1028
Troy, yes, it would be far more independent of the display than bypassing color management.

[2020-06-11 04:10] michdolan commented on #1029
I think `ViewingPipeline` sounds good, but worth discussing at the working group meeting in case others prefer your original name. I realized after some more thought that there are other classes (`ViewTransform`) that don't inherit from `Transform` but use the name, so might be a non-issue.

[2020-06-11 13:37] hodoulp commented on #1023
That's a known limitation of OCIO v1 so I close the defect.
Please feel free to reopen it if needed.

[2020-06-11 13:37] #1023 closed

[2020-06-11 13:57] VVD commented on #1023
But it build and work with python 3.7 without DOCS…
When v2 will be released?

[2020-06-11 14:09] hodoulp commented on #1023
OCIOv2 feature complete is planned for this summer.

Note: As any open source project we are open to contributions from the community. So, you can definitively submit a pull request to fix the Python 3 support in OCIOv1 if that's a blocker for you. Refer to [CONTRIBUTING.md](https://github.com/AcademySoftwareFoundation/OpenColorIO/blob/master/CONTRIBUTING.md) for details.

[2020-06-11 14:15] VVD commented on #1023
Thanks. I'm not python developer and I'll wait v2.

[2020-06-11 20:53] ChinYing-Li commented on #547
Hi @hodoulp ,
Thank you for explaining. I think I can start working on the second part, since @doug-walker mentioned that this might remove the need for GLEW, though I haven't investigated deep into this issue yet. What do you think?

[2020-06-11 22:05] hodoulp commented on #547
Agree. That's part of the investigation around EGL.

[2020-06-17 13:19] ChinYing-Li commented on #547
Since OpenColorIO need a OpenGL loader, shall we go for custom gl loader implementation? Or shall we replace glew with a loader library that does not require init()?

[2020-06-17 13:37] ChinYing-Li opened #1039 "Replace GLX dependency with EGL dependency"
Quoting @jfpanisset :
"" Currently OpenColorIO uses GLUT in tests/gpu/GPUUnitTest.cpp to create a
window to render OpenGL tests, which in turn depends on GLX. I'm assuming
these days it's linking against FreeGLUT, and it is apparently possible to use
EGL instead of GLX for creating the rendering context. The advantage is that it
might be possible to do away with having to stand up an X server for

[2020-06-17 13:48] ChinYing-Li commented on #1039
In fact, freeglut also [seems to support headless rendering](https://sourceforge.net/p/freeglut/mailman/message/29619660/) but has to go through a X server.

[2020-06-18 20:24] KevinJW commented on #917
Apparently #322 does this!

[2020-06-20 18:28] ChinYing-Li commented on #1039
Hi, a bit of guidance needed. In order to support headless rendering,  I refactored```OglApp```, which is now a base class, from which derived ```ScreenApp``` and ```HeadlessApp```.
This means that wherever ```OCIO::OglApp & app``` is passed as a function parameter, I have to substitute it with ```OCIO::OglAppRcPtr```. (```typedef OCIO_SHARED_PTR<OglApp> OglAppRcPtr```)
So far, I don't see if ther

[2020-06-22 13:39] hodoulp commented on #1039
Note: Discussion started in #547

[2020-06-22 14:11] hodoulp commented on #1039
Hi,

The approach seems to be the right one, and most of the code is already using a `OCIO::OglAppRcPtr` so the transition should be fine.

However, `EGL` is nVidia specific and OCIO must **not** stick to a specific vendor. Even if the CI build system is running on nVidia graphic cards that should not be mandatory for our users (e.g. using an app to debug or investigate a color transformation) & c

[2020-06-22 14:24] ChinYing-Li commented on #1039
Thank you for the input. My work-around for the vendor specific problem is to use the EGL implementation of Mesa, which should be available on most if not all Linux machines.

[2020-06-22 14:50] hodoulp commented on #1039
Some useful links: https://www.khronos.org/egl & https://devblogs.nvidia.com/egl-eye-opengl-visualization-without-x-server/

[2020-06-22 17:38] doug-walker commented on #1039
@ChinYing-Li, thanks for your work on this!

I'm worried about relying on Mesa for non-Nvidia hardware.  We have tried using Mesa several times over the years and it has resulted in large numbers of GPU unit test failures.  Perhaps Mesa would work better now, but if not, we would need to find another solution.  It is definitely a requirement that the GPU unit tests continue to run on AMD/ATI hardw

[2020-06-23 01:55] jfpanisset commented on #1039
These Blender threads seem to point at recent efforts to bring back EGL headless rendering, as well as comments about needing to request "Core" rather than "Compatibility" profiles from the driver.

https://developer.blender.org/T54638
https://developer.blender.org/D6585

So perhaps some useful info to be mined there?

[2020-06-25 14:23] ChinYing-Li commented on #1039
Steps are as follows:

1. **Install Mesa with EGL backend**
(TO BE UPDATED)

2. **Get findEGL.cmake**
[code]
This will install the extra-cmake-module module, which contains findEGL.cmake.

3. **Build OpenColorIO with the option OCIO_USE_HEADLESS**
Remember to add the line below at the `sudo cmake` step.
[code]

[2020-06-25 14:28] ChinYing-Li commented on #1039
Thanks for all the pointers! Interestingly, I did not encounter the issue mentioned in the blender posts.

**Result of `GPU Unit tests`**
[code]

[2020-06-25 16:30] hodoulp commented on #1039
Other pull requests (#1016) are moving `cmake` version from 3.10 to 3.12, would that be enough for `findEGL`?

[2020-06-25 18:34] ChinYing-Li commented on #1039
@hodoulp
Sorry that I have to delete the pull-request since I accidentally signed-off other people's commits and could not revert them.
To answer your first question:
_Note 1: You can see build breaks with github actions by clicking on 'details' corresponding to the failing build._
The break on OSX is because glut header is not included.

[2020-06-30 16:35] LazyDodo opened #1050 "Python tests always build even if OCIO_BUILD_PYTHON is off"
#1025 updated the python tests, but forgot to un-comment the `OCIO_BUILD_PYTHON` test in cmake [that protected it](https://github.com/AcademySoftwareFoundation/OpenColorIO/blob/master/tests/CMakeLists.txt#L23), meaning they are always on now and you can't build OCIO without python.

[2020-07-06 17:21] sobotka opened #1053 "[OCIO-V2] OCIO_LIBNAME_SUFFIX not applied to Python library"
Summary says it all. It appears the cmake `OCIO_LIBNAME_SUFFIX` is correctly applied to the standard binary, but not the Python library.

Current as of 22a5f55548747265e55a6cc4e3b129b1e9fb8ec8

[2020-07-07 14:45] hodoulp commented on #1050
Good catch @LazyDodo

Would you mind doing the pull request?

[2020-07-07 15:38] jntille opened #1054 "unclear cmake flags like ILMBASE_LIBRARY:FILEPATH"
Hello,

sorry for asking a build related question.
I have been trying to compile OCIO, but have have problems interpreting the cmake flags.

Currently, I when compiling using my makefile I receive the following error:
/opt/openexr/lib: file not recognized: Is a directory

I compile with these flags:
[code]

I assume that the error comes from what the value passed to ILMBASE_LIBRARY as this is /opt

[2020-07-07 16:07] LazyDodo commented on #1050
Sorry, the CLA in place for this project prevents me from doing so.

[2020-07-07 16:20] hodoulp commented on #1053
Good catch @sobotka

After some investigations (on macOs with gcc) here are my findings:

- Using `-DOCIO_LIBNAME_SUFFIX=Autodesk`, the core library name is changed, the namespace is not and all static library names are not. As found by you, the Python library (i.e. the Python bindings) name is not changed.
- Using `-DSOVERSION=Autodesk`, nothing changed!

Here are some thinkings / questions:

- C

[2020-07-07 16:22] hodoulp commented on #1050
You only need to register as an individual contributor or as a corporate contributor (with your legals approval first).

[2020-07-07 16:43] LazyDodo commented on #1050
That will only happen if there is a sizable/worthwhile contribution, the removal of 2 mistakenly placed `#`'s in a build script is quite some ways away from reaching that bar.

[2020-07-07 17:12] sobotka commented on #1053
Is there a clean way to solve the most “common” case will be V2 vs V1 integration? This would strike me as the oncoming freight train as various pipelines try to integrate V2 into their pipe, including development of DCC software.

That is, without drilling too far into the namespace issue, is there a clean path to concurrently support both libraries simultaneously, assuming the code uses the corr

[2020-07-07 17:34] LazyDodo commented on #1050
Thanks troy!

[2020-07-07 17:36] sobotka commented on #1050
No problem!

I should have put the acknowledgement to @LazyDodo in the commit message. Perhaps @hodoulp can do it on the commit.

[2020-07-07 17:38] sobotka opened #1056 "[OCIO-V2] ICC Display Profile Support with V4 `wtpt` tag"
Given that V4 makes it impossible to deduce the implicit white point of a characterization, how is OCIO V2 dealing with this rather impossibly large obstacle?

As per the more recent meetings and the integration with a virtual view slot for system wide ICCs, I'm wondering how OCIO-V2 will deduce the appropriate white point, or if there will be a way to explicitly flag it as such?

That is, for tho

[2020-07-07 17:50] LazyDodo commented on #1050
that really doesn't really matter, don't worry about it.

[2020-07-08 20:20] #1054 closed

[2020-07-09 09:46] ChinYing-Li commented on #447
@hodoulp Is now a good time to work on this defect? If so, I am only familiar with the OCIO integration in renderers (e.g. Blender, appleseed), and would like some suggestions on what other application that uses OCIO library I can reference from.

[2020-07-09 23:43] #1050 closed

[2020-07-10 22:36] scoopxyz opened #1057 "Enable ReadTheDocs on Master Branch"
We should enable RTD builds of the OCIO docs reading from the master branch. This will serve as the working space for the OCIO v2 doc revision.

[2020-07-10 22:37] scoopxyz opened #1058 "Unable to add labels to issues"
Hey @michdolan  I'm not able to add labels to issues, or see the settings of the repository. What level of access do we allow for the TSC members?

[2020-07-10 23:53] scoopxyz opened #1059 "Update Public Header Documentation to Doxygen Style"

[2020-07-11 00:31] Simran-B opened #1060 "Validate that all (public) classes, functions etc. are listed in the docs"
The Doxygen -> Sphinx bridge *breathe* comes with a script `breathe-apidoc` to generate .rst files for all classes, structs, namespaces and files. This is useful to generate an API overview, but these files are then plainly added in alphabetical order, like:

[code]

Sean's approach is to use Sphinx directives for each unit, like:

[code]

https://github.com/scoopxyz/OpenColorIO-Docs/blob/master/d

[2020-07-11 22:27] #1039 closed

[2020-07-14 05:05] doug-walker opened #1064 "Make it illegal to use context var tokens in color space names"
In OCIO v1 it appears to have been possible to use the special characters "$" and "%" in color space names.  These are also the tokens used elsewhere in the config to denote the presence of a context variable.  In other words, it appears that these would be legal color space names that are *not* context variables:  "75%_saturation" and "show_me_the_$money".

Unfortunately this is causing us a lot

[2020-07-14 15:18] nick-shaw opened #1065 "Incorrect path in *getting-started* documentation."
https://github.com/AcademySoftwareFoundation/OpenColorIO/blame/master/docs/developers/getting_started.rst#L85

The subdirectory is shown here as `shared` when in fact it is called `share`. Additionally, although less importantly, the instructions above tell you to clone the repo as `ocio` but then give the path as `OpenColorIO/shared/docker`.

[2020-07-15 20:38] ChinYing-Li commented on #447
**Proposal**

To add `DynamicProperty`, `ociodisplay` will be a state machine, with state `g_ocioDisplayState`.
`g_ocioDisplayState` is of type `OCIODisplayState`, and
[code]

- The last few lines in`ociodisplay`'s `int main()`, the `try` block will call `UpdatedBasedOnState()`. `UpdateBasedOnState()` will then call `UpdateOCIOGLState()` if `g_ocioDisplayState == FullPipeline` and call another (ye

[2020-07-20 17:16] michdolan opened #1067 "Create GH Issue for each section/task of OCIO v2 docs"
To help with the push of documenting OCIO v2 in preparation for being feature complete, we'll need to divide up the work to help contributors participate in the effort. We'll need to create GH issues for each task or logical block of content needing to be done based on the created documentation outline.

Each created issue should be added to the "Documentation Revamp" GH project for tracking. This

[2020-07-20 20:53] doug-walker commented on #1057
@scoopxyz , per the discussion at today's TSC meeting, it sounds like this is working now, right?

[2020-07-22 14:04] ChinYing-Li commented on #1034
Not so familiar with python bindings for cpp, but can help with this before the documentation related GH issues are out.

[2020-07-22 14:46] scoopxyz commented on #1067
Layout of tasks...

# Working New Sphinx Build
- Enable ReadTheDocs build hook
- Add requirements file for RTD to pip install before build
- Push Python docstring extraction/macro/build PR
- Extract pybind11 /tools/mkdoc.py during build process through CMake
- Move sphinx template to vuepress theme
- Restructure hierarchy of .rst files
- override vuepress css to align with logo/colour-scheme

# Co

[2020-07-22 14:55] scoopxyz opened #1070 "[docs] Setup ReadTheDocs webhook"
@michdolan or @doug-walker

Would you be able to setup the webhook for RTD via the GitHub settings. The How-To is here:
https://docs.readthedocs.io/en/stable/webhooks.html#github

I'll send the project RTD URL over slack, just in case it imparts any elevated access/permission.

[2020-07-22 16:58] michdolan commented on #1034
Hi @ChinYing-Li

I've started some work on this but would be more than happy to have help. I'll create a PR this evening with my work so far to show you what I'm doing. There are three libraries to bind as part of this and we could collaborate if you're interested.

[2020-07-22 16:59] michdolan commented on #1070
Sure, I'll look into this.

[2020-07-22 18:18] scoopxyz opened #1071 "[docs] ReadTheDocs Maintainers"
Anyone that wants to be able to manage/configure the OpenColorIO project on ReadTheDocs... please create an account there, or use your GitHub account, and tell me so I can add you to the list.

[2020-07-22 18:21] scoopxyz commented on #1060
Hey @Simran-B thanks for making this. I too am questioning the ability to keep on top of manually referenced API...

Doxygen has the concept of "groups" (https://www.doxygen.nl/manual/grouping.html) but I don't know if this carries over into Breathe...

[2020-07-22 18:32] lgritz commented on #1060
@scoopxyz It does. I use it extensively in the OIIO docs.

[2020-07-22 18:33] scoopxyz commented on #1060
Ah, good to know

[2020-07-22 19:58] carolalynn22 commented on #1071
I signed up via my GitHub.

[2020-07-22 20:59] scoopxyz opened #1072 "Typo in Python Bindings GpuShaderCreator"
https://github.com/AcademySoftwareFoundation/OpenColorIO/blob/b2d0d3b4653c5537d4aca7fc131cee3cd20261ad/src/bindings/python/PyGpuShaderCreator.cpp#L152-L153

get/set Language

[2020-07-22 22:34] Simran-B commented on #1060
So it is possible to declaratively group e.g. class methods in code instead of referencing individual members in the docs. Good to know indeed. But how would the tabs for C++ and Python then be done? Is it possible to combine with grouping in code, or would it mean to lose tabs and have separate areas in the docs for both APIs?

[2020-07-23 03:26] michdolan commented on #1071
I signed up via my GitHub as well.

[2020-07-23 03:34] michdolan commented on #1070
Ok, the webhook is setup. Let me know if it's not working as expected.

[2020-07-23 07:58] scoopxyz commented on #1070
Hmm, doesn't appear to be I'm getting permissions errors. Could you sign into ReadTheDocs with your GitHub account so I can add you as a maintainer.
You might have to the one to kick off the sync.

[2020-07-23 08:05] scoopxyz opened #1073 "[docs] Docstring Extraction has a Python-side Clang dependency - CI Workflow?"
@michdolan after pushing my branch for a PR (https://github.com/scoopxyz/OpenColorIO/tree/feature/python_docstrings)
I realized that the Python script that extracts the docstrings from the headers and creates the string-literals that get referenced in the PyBind11 bindings requires Python Clang in order to traverse the source headers.

First off, that would make the `Clang` (https://pypi.org/proje

[2020-07-23 09:20] scoopxyz commented on #1073
This seems like a larger imposition than I originally foresaw...

This would mean that we would likely have to limit docstrings embedded into Python functions to Clang/Python3 builds. For now at least.

[2020-07-23 19:32] scoopxyz commented on #1073
This is the code I'm talking about:
https://github.com/AcademySoftwareFoundation/OpenColorIO/pull/1074

[2020-07-23 20:50] doug-walker commented on #1071
Same here, please add me.  Thanks Sean!

[2020-07-24 17:50] scoopxyz commented on #1070
@michdolan just a ping again, if you're able to setup a RTD account and click the following in the Admin panel:

![image](https://user-images.githubusercontent.com/22137450/88420259-853ca780-cdde-11ea-87f0-bdeea37cef32.png)

[2020-07-27 01:02] michdolan opened #1078 "Add cdlStyle to PyFileTransform constructor"
The `FileTransform` Python binding is missing the `cdlStyle` parameter in the convenience constructor.

[2020-07-28 13:16] ChinYing-Li commented on #1034
@michdolan
An update on the progress:
A `HeadlessApp` instance can't make EGL context current when using the `PyOpenColorIO_oglapphelpers` library, yet there's no such error during GPU unit testing. I'll open a draft PR once the problem is solved.

[2020-07-28 21:04] Simran-B opened #1079 "[diversity] Use inclusive language"
As discussed in the TSC meeting on 2020-07-27 and the [ASWF #diversity Slack channel](https://academysoftwarefdn.slack.com/archives/C0152KSAJSJ/p1594730786066000), the term "sanity check" should be avoided as it is considered [ableist language](https://www.selfdefined.app/definitions/sanity-check/). I checked the OCIO source code for other terms, but there are just a few ones that should potential

[2020-07-30 13:46] ChinYing-Li commented on #1067
@scoopxyz After looking into your recent PR, I think you are almost done with the "new sphinx build" tasks. Is there any other stuff that can be done in parallel?

[2020-08-01 03:07] doug-walker opened #1082 "Virtual displays for ICC monitor profiles"
In OCIO v1, the burden fell on the config author to anticipate all of the possible displays that were going to be used.  While this is fine within the context of a controlled studio environment, it makes it difficult to use OCIO in less structured conditions.  As discussed in the v2 proposal, we want to give config authors the option to use ICC monitor profiles, when it is useful for them.  The IC

[2020-08-01 03:28] doug-walker opened #1083 "Make the environment section of the config mandatory"
In PR #322 (and discussed in Issue #149), Malcolm Humphreys implemented a nice feature that adds an optional environment section at the top of a config file to declare the context variables used in the config.  This serves several purposes:

1. - It allows the config author to specify default values
2. - It makes the config easier to understand since one may see at a glance which context vars are

[2020-08-01 03:56] doug-walker opened #1084 "A cache for Processors"
Some applications would benefit from having a cache for Processor instances.  For example, some applications import hundreds of files and wind up requesting a conversion between the same pair of color spaces many times.  This is slow and could waste memory.  As another example, timeline-based applications have strict performance requirements and cannot wait to create a new Processor on each shot.

[2020-08-01 05:56] zachlewis commented on #1084
This would be great. I'd love to be able to "pre-cache" a processor for a set of set of contexts in applications with multi-shot timelines.

Would the cache persist when toggling it on and off?

Could the caches be serialized? I.e., as a catalog of ctfs for different permutations of context variables? That could be really handy.

[2020-08-01 10:47] scoopxyz commented on #1071
Added you Doug.
@michdolan `michdolan` doesn't seem to work, did you use another name for the account?

[2020-08-03 22:18] doug-walker commented on #1084
@zachlewis , yes, an application should be able to build all of the Processors in a "pre cache" step in order to load the cache.  Requesting any of those Processors a second time should be very fast.

What we have will clear the cache when it is turned off.  We feel that this is an important part of turning it off, so we want to keep it that way.  However someone could add a third mode (beyond off

[2020-08-05 18:27] ChinYing-Li opened #1086 "Unit testing python bindings of oglapphelpers"
Opening the issue for discussions.

After thinking this through, here are the options I come up with:

1. Python bind `OCIOGPUTest`  so that we can write the python equivalent of cpp GPU unit tests.
2. Write a custom python class `PyOCIOGPUTest` and write the python equivalent of cpp GPU unit tests; This is the approach I am taking now.
3. Come up with less complicated python unit tests that, unli

[2020-08-06 02:54] doug-walker opened #1087 "Version handling of configs for v2"
OpenColorIO has only had one major version so far.  As we prepare to release v2, we need to do some work related to version management.  This issue is to collect and discuss aspects of this work.

Here is the proposed behavior for your review:

**1. New config objects will default to the current version (v2)**

**2. There will be a helper function for upgrading an older config to the current versi

[2020-08-06 18:49] sobotka commented on #1082
Very curious if there has been any thought to the V4 issue. Namely that with V4 ICC protocol, it is impossible to derive the native whitepoint via the `wtpt` tag, and as such, it makes display colourimetry extremely challenging.

[2020-08-06 22:44] doug-walker commented on #1082
Hi Troy, the 'chad' tag may be used to recover the original whitepoint of the display.  Although I agree with you that there are many aspects of ICC profiles in general that are challenging.  Nevertheless I think it's very useful to have a bridge to the ICC world since it is the dominant color management system out there currently.

[2020-08-06 23:11] sobotka commented on #1082
I believe that V4 complicates the `chad` tag, if it is present at all.

[I know Graeme has published the `arts` tag](https://www.argyllcms.com/doc/ArgyllCMS_arts_tag.html), but V4 has made things much worse (impossible) for gathering absolute colorimetric information.

[2020-08-12 13:07] hodoulp commented on #1086
Not being a Python expert I notice that the 'writing' is more something like:
`import opencolorio as ocio`
or
`import opencolorio.oglapp as ogl`

Note: The module names seem to always be lower case.

[2020-08-14 02:24] doug-walker opened #1100 "New transforms for building Looks"
Today in OCIO, looks are generally built from either an ASC CDL, or a 3d-LUT. An ASC CDL is easily understood due to its parametric nature but is limited to fairly basic adjustments. A 3d-LUT allows for very powerful adjustments, but it’s difficult to understand, at a glance, what it is modifying. It would be useful to have some additional options that would occupy the middle ground.

This issue p

[2020-08-14 02:27] doug-walker opened #1101 "Named Color Transforms"
For many years, VFX color management was dominated by 1d-LUTs.  Many users became accustomed to being able to apply "shaper" or "utility" transforms such as a lin-to-log or a gamma when importing images into an application or in preparation for some image processing or compositing operation.

Of course, color management based on 1d-LUTs is unable to deal with differences in color primaries and can

[2020-08-15 02:37] KelSolaar opened #1103 ""OCIO_INSTALL_EXT_PACKAGES" value check is case sensitive and does not raise an exception if an invalid value is passed."
Hi,

Title says it all!

I was trying to figure out why the dependencies weren't pulled and I typed `-DOCIO_INSTALL_EXT_PACKAGES=all` instead of `-DOCIO_INSTALL_EXT_PACKAGES=ALL`.

The comparison should probably be case insensitive and raising an exception if an invalid value is passed.

Cheers,

Thomas

[2020-08-15 03:13] KelSolaar commented on #1100
Hi,

Isn't this a bit out of scope for OCIO? Where do we put the line between colour management and colour grading? This proposal and the related #1102 PR is very much stepping in the second domain.

What really troubles me (hence this comment) is that this is a rather important feature with important consequences and I could not, so far, find any references about it in the TSC Meetings, Github Is

[2020-08-15 04:59] KelSolaar opened #1105 ""Config.addDisplayView" requires passing "looks" while it was optional with "Config.addDisplay"."
Hi,

I noticed that `Config.addDisplayView` which seems to replace `Config.addDisplay` in OCIO 2 requires passing **looks** which I feel should be optional as it was with  `Config.addDisplay`:

[code]

Cheers,

Thomas

[2020-08-15 05:56] KelSolaar opened #1106 "Default file rules behaviour is counter intuitive and possibly broken."
Hi,

As I started to poke at OCIO 2 for the new ACES config, I wanted to test the new `ExponentWithLinearTransform` transform.

Upon validation I get the well deserved:

[code]

All good, I set my major version to 2:

[code]

After which:

[code]

Which can be fixed by creating a new `default` ColorSpace but then because I don't like the `default` name and I remember #893 and specifically:

[code]

[2020-08-15 10:55] hodoulp commented on #1105
Hi @KelSolaar
The `looks` argument for `Config::addDisplayView()` is optional so an empty string argument should work (refer to [OpenColorIO.h at line 612](https://github.com/AcademySoftwareFoundation/OpenColorIO/blob/master/include/OpenColorIO/OpenColorIO.h#L612) for the explanation).

[2020-08-15 18:05] doug-walker commented on #1105
@KelSolaar , the C++ API has not changed from v1.  Just as in v1, the idea is to pass an empty string if you don't have any looks.  As Michael wrote on Slack, the Python version could certainly be enhanced to make the Look argument optional.  But, as Patrick wrote above, the C++ version should stay as it was.

[2020-08-15 19:01] KelSolaar commented on #1105
Hi @hodoulp,

Sorry if I sound pedantic but this is a required argument as you have to pass a value, empty string is effectively one. An optional argument is an argument that adopts a default value as part of the function signature and does not need to be passed at all when calling the function.

Typically in Python you should not have to pass an empty string here and it was not the case with OCIO

[2020-08-15 19:24] doug-walker commented on #1105
The section of the docs that describes upgrading to v2 does list it as one of the changes.  But we should do more to make it clearer.

[2020-08-15 19:32] KelSolaar commented on #1105
Ah thanks, I missed it! Maybe a large table describing the changes?

[2020-08-15 20:42] doug-walker commented on #1100
Hi Thomas,

Thanks for your forthright feedback.  This proposal was discussed extensively at the OCIO v2 working group meeting on Aug. 6th.  (I will post the meeting minutes for that soon, it's been a busy time with a lot happening as we approach SIGGRAPH.)  We ran out of time at the previous working group meeting.  Also, when PR #743 was discussed at the OCIO v2 working group meeting last year, a

[2020-08-15 20:43] doug-walker commented on #1106
Hi Thomas,

The FileRules object always has a Default rule, so you cannot use insertRule in that case.  In other words, the Default rule cannot be added or removed.  There is a method called setDefaultRuleColorSpace that does what you are looking for.

[2020-08-15 20:51] KelSolaar commented on #1100
Right, thanks for outlining the scope, it makes much much more sense and has me less worried :)

Maybe it is a case for exposing a public roadmap, for example, Epic uses Trello to surface some of their largest features: https://trello.com/b/TTAVI7Ny/ue4-roadmap

Github has some similar capabilities nowadays, this would certainly be useful for those who cannot attend the Working Group meetings, mis

[2020-08-15 21:14] KelSolaar commented on #1106
It makes things a bit more convoluted than one would wish but this works!

Given this data:

[code]

Here is what I came up with:

[code]

[2020-08-17 13:22] hodoulp commented on #1105
Hi @KelSolaar,

At the next TSC meeting I will bring the optional argument for the Python bindings to the attention of everyone. Having a rule for C++ does not mean to have the same for Python, and the optional arguments are common practice in Python.

The C++ API backward compatibility is a major focus from v2 in order to ease the transition from v1 to v2. Even if new features imposes renamings a

[2020-08-17 20:12] michdolan commented on #1103
Fixed by #1104

Comparison is now case insensitive and an invalid value will result in fatal configuration error.

[2020-08-17 20:12] #1103 closed

[2020-08-17 20:29] KelSolaar commented on #1105
Thanks @hodoulp! I can't come as they are very early for me but glad you brought it and I saw it in the TSC notes in #1107 and I can see that @michdolan is already on it via #1108.

[2020-08-19 02:52] #1105 closed

[2020-08-21 15:50] chrisbrejon opened #1113 "Guerilla Render not showing in the supported applications"
Hello,
as discussed with Carol Payne, I wanted to point out that Guerilla Render is missing from the list of supported applications on the website.
Here is a link to the website : http://guerillarender.com/
Here is a quick mention to add : Guerilla 2.2 and up.
Here is a couple of logos for you to use :
![image](https://user-images.githubusercontent.com/70026961/90909280-d3d96380-e3d5-11ea-82ca-a56

[2020-08-21 17:33] carolalynn22 opened #1114 "website: fix active link color on navigation bar"
When you click a link on the nav bar ("active" state) the color is currently white. Fix to something more legible.

[2020-08-21 18:06] doug-walker opened #1115 "Good first documentation issue -- finish the cmd-line tools section"
The documentation for the command-line tools is here:

https://opencolorio.readthedocs.io/en/latest/guides/using_ocio/using_ocio.html#tool-overview

Some of the tools (ocioconvert, ociodisplay, etc.) have virtually no information.  Those tools need to have proper documentation like the other ones.

For new contributors, first read the Quick Start for Contributors:
https://opencolorio.readthedocs.i

[2020-08-22 20:34] doug-walker opened #1117 "Write OpenFX plug-ins for OCIO v2"
Particularly as we wait for applications to integrate OCIO v2, it would be awesome to have OpenFX plug-ins that use the new library to aid testing.

Looking for a volunteer to take this on!   The Autodesk team will be happy to consult and it could be a nice learning opportunity for someone.

Also, please note that there are some existing OpenFX plug-ins for OCIO v1 that could be studied as example

[2020-08-24 18:13] abhisht51 commented on #1117
Hi,
I would like to volunteer for this opportunity.

[2020-08-25 01:46] doug-walker commented on #1117
Thanks @abhisht51 for volunteering!  Please check out the Contributor Quick Start guide and join us on Slack.
https://opencolorio.readthedocs.io/en/latest/quick_start/for_contributors.html

And let us know how we can assist you!

[2020-08-25 20:32] remia opened #1121 "FileTransform Python API constructor"
Hey,

While using / testing the v2 API, I noticed that the PyOpenColorIO.FileTransform constructor used with a single argument returns an error due to the default interpolation being `INTERP_UNKNOWN`. To have it work, you need to explicitly set the `interpolation` parameter.

[code]

Maybe this default value could be replaced with INTERP_DEFAULT instead of INTERP_UNKNOWN, so that it works out of t

[2020-08-26 16:49] zachlewis opened #1122 "PyOpenColorIO: Config.GetProcessor() vs Config.getProcessor()"
It seems there's an overloaded "GetProcessor" method, which is responsible for constructing processors with respect to separate source and destination configs; and then there's a separate "getProcessor" overloaded method for constructing processors with a single config.

This is pretty confusing. What would you guys say to either renaming one of the methods, or combining them into a single overloa

[2020-08-27 10:21] KelSolaar commented on #66
Hi,

Doing some necromancy on this one, as discussed on Slack I got bitten hard by `OCIO_ACTIVE_DISPLAYS` being set in the shells I was launching my IDE from to update a config. The result was that instead of having my 4 or 5 expected displays I was getting only the one defined in `OCIO_ACTIVE_DISPLAYS` when building the config. Took me really long time to understand what was going on.

Talked wit

[2020-08-27 15:18] chrisbrejon commented on #1113
This issue was fixed with this Pull request : https://github.com/AcademySoftwareFoundation/OpenColorIO/pull/1119
I am closing the issue. Thanks everyone !

[2020-08-27 15:18] #1113 closed

[2020-08-27 21:41] doug-walker commented on #1122
@zachlewis , could you make a more specific proposal?  It's not clear to us whether your problem is with the "G" vs "g" or you think another name is needed.  The case difference is simply due to following the existing coding style for functions vs. methods.  The naming is consistent with the current getProcessor usage since there are already a wide range of different signatures that are used for v

[2020-08-27 21:42] doug-walker commented on #1121
@remia , you raise a good point.  We will take an action item to make a PR to propose a fix.

[2020-08-27 22:10] zachlewis commented on #1122
Ah, I'm sorry, I wasn't being clear.

I don't have an issue with style -- my issue is that, _presently_ in the Python API, we have both:
PyOpenColorIO.Config.getProcessor(...)
PyOpenColorIO.Config.GetProcessor(...)

They have different type signatures, but serve complementary functions:

`PyOpenColorIO.Config.getProcessor(...)
    getProcessor(*args, **kwargs)
    Overloaded function.

    1. getP

[2020-08-27 22:42] hodoulp commented on #1122
For my understanding I did some experiments with `config` being an instance of the class `Config`:
[code]
The second call succeeds as the method signature exists.

But the other way around fails:
[code]
The second call fails because the method signature does not exist for `GetProcessor()`. The validation on the signature is risky on long-term e.g. adding a two-strings signature to the static metho

[2020-08-28 00:49] doug-walker commented on #1122
@zachlewis , so does changing the GetProcessor function to GetProcessorFromConfigs address your concern?

If so, we will change both the C++ and Python API accordingly.  (The getProcessor methods will not be changed.)

[2020-08-28 01:27] zachlewis commented on #1122
That would be perfect. Thanks so much guys -- sorry for the confusion before.

[2020-08-28 04:40] KelSolaar opened #1124 "On Development Process Transparency & Roadmap"
Hello,

I'm starting an issue to centralise the discussions in relation to my two comments [here](https://github.com/AcademySoftwareFoundation/OpenColorIO/issues/1100#issuecomment-674340278) and [there](https://github.com/AcademySoftwareFoundation/OpenColorIO/pull/1102#issuecomment-682302942).

# Introduction

With PR #1102, OpenColorIO is about to receive three new grading transforms. I want to c

[2020-08-28 06:37] doug-walker commented on #1124
Hi Thomas,

Thanks for creating this issue for discussion of the development process.  I'd like to refresh people's memories of the development process we've been following for the OCIO v2 project.

We started with a written proposal for OCIO v2 that was presented to the community along with a presentation at the BoF at SIGGRAPH 2017.

We also have an OCIO v2 working group.  This is a Google group

[2020-08-28 13:16] #1122 closed

[2020-08-28 18:40] lgritz commented on #1124
Well handled response, Doug.

I'm not super plugged into the OCIO dev these days, but I recognize characteristics of other projects I work on in the description above. Two quotes resonated for me especially:

What I'm about to say is not in any way a refutation of @KelSolaar's frustration, which I also understand, but more of a plea not only for OCIO but also on behalf of all the other projects in

[2020-08-28 18:42] KelSolaar commented on #1124
Hi Doug,

Thank you for your answer.

Many transparent pieces scattered everywhere does not necessarily directly correlate with a process that is perceived as fully transparent.

I will explain where I'm coming from in the hope it clarifies where I'm going to. People external to the project and reading the OP might be wondering what that guy with null code contribution is talking about.

_Where I'

[2020-08-28 18:43] KelSolaar commented on #1124
@lgritz : I think we just cross-posted! :)

[2020-08-28 18:45] lgritz commented on #1124
Yeah. Complementary takes on it, I think.

[2020-08-28 18:45] KelSolaar commented on #1124
Yes exactly what I thought when reading your post :)

[2020-08-28 19:00] michdolan commented on #1124
Thank you @KelSolaar for the feedback and raising good points for community discussion, and thanks @doug-walker for your well thought out response. I recognize that there are plenty of areas where we can still improve as a project, and the TSC is certainly open to implementing these. I also would encourage that anyone who shares these or other concerns to please follow Thomas's example by bringing

[2020-08-28 19:12] carolalynn22 commented on #1124
All of this discussion is great! I really like the idea of merging back the TSC and working group. A thing I've noticed that we all do (myself very much included) is be quite vocal about something in a working group meeting, but silent on the issue when raised in GitHub, which contributes as well to the lag Doug describes quite accurately in PR review.

I think finding a way to highlight these iss

[2020-08-28 19:23] KelSolaar commented on #1124
With the hope that they can account for the TZ of the Hobbits living in The Shire :)

[2020-08-28 19:31] michdolan commented on #1124
We could adopt the somewhat standard AWSF meeting time slot (1pm PDT/4pm EST/9pm BST/9am NZST)

Also, stumbled on this repo from Adobe which has some good ideas in terms of documenting process: https://github.com/adobe/open-development-template

[2020-08-29 23:55] doug-walker commented on #1124
It's been a busy week for many of us and I really appreciate people taking time to express their thoughts and ideas.

@michdolan, I fully support the concrete proposals you made.

The OCIO v2 working group actually predated the formation of the OCIO TSC.  And as the project was going through the graduation process from incubating to adopted status there was so much work totally separate from v2 th

[2020-08-31 20:28] zachlewis commented on #1115
I'll take the case!

[2020-08-31 20:43] doug-walker commented on #1115
Thank you Zach!

[2020-08-31 23:05] andranikvfx commented on #916
*Bump* I have the need to do this in order to set the camera raw space based on an environment variable.
Are there any alternatives to this?

[2020-09-01 14:58] zachlewis commented on #1115
Please, it's pretty much the least I can do. In a few weeks' time, I should be free to contribute to more documentation in general, whatever you guys need help with.

No promises, but I'll try to have something to look at before the docs meeting this Friday (I'll show up to that too -- noon, EST, right?)

I'll harass you guys on Slack with any specific questions.

[2020-09-02 17:20] zachlewis commented on #1100
I haven't had much of a chance to really dig in to these yet, but I did have a few questions and comments after briefly looking through the code and toying with the Python API on and off over the past couple of weeks --

1. These are really cool. I think you guys did a good job of designing these transforms to be as user- / author- / developer- friendly as possible, considering the complexity and

[2020-09-03 01:52] doug-walker commented on #1100
Thanks for the feedback Zach.  I'll reply point by point:
1.  Thanks!
2.  Yes, the feel in the different modes was definitely something we worked on.
3.  That is a very perceptive question.  ;)   That was indeed the goal.  The splines I implemented here are a more advanced version of what I used for the original ACES CTL, so the representation is compatible with that purpose.  That is why we have

[2020-09-03 16:09] zachlewis opened #1129 "ColorSpace 'alias' mechanism"
*edit: See @doug-walker's proposal and discussion below

Original post:
I would like to be able to repurpose the ColorSpace equalityGroup attribute to serve as ad-hoc colorspace 'aliases' where filename parsing is concerned.

It's not uncommon for configs to contain copies of the same colorspace with alternate naming (and sometimes different families) --  E.g., "ACES - ACES2065-1", "aces", and "li

[2020-09-03 17:25] sobotka commented on #1129
+1 if there is a way to reduce the stanzas that define the actual transforms.

[2020-09-03 21:42] doug-walker commented on #1129
@zachlewis , thanks for raising this topic.  I've also had this on my list to bring up at a working group meeting because the use of aliases in the ACES config is less than ideal for a number of reasons:

1.  It requires duplicate ColorSpace definitions.  This bloats the config, is error-prone, and difficult to maintain.  For example, the equalitygroup is set on many of the aliases to point to the

[2020-09-04 00:32] zachlewis commented on #1129
Sorry equalitygroup lobby. Doug drives a really hard bargain. We'll get you next time.

[2020-09-09 01:16] doug-walker commented on #1129
This issue came up during the ACES Config working group meeting today so I wanted to add some additional points based on that discussion.

First of all, we felt it would be useful for the new alias attribute be allowed to have multiple strings as more than one alias may be desired.  For example, in the ACES Config we may want a "short name" alias for file paths (and tool use), as well as a "legacy

[2020-09-09 01:24] doug-walker commented on #37
This issue was discussed during the ACES config working group meeting today.  The group agreed that we would prefer that attribute values that are default should not be serialized to the yaml.  The ColorSpace bitdepth and allocationvars being common examples.  The interpolation value of FileTransforms being another example.

We will make that change as part of the v2 work.

[2020-09-09 03:23] sobotka commented on #1129
Excellent work @doug-walker and all. Much needed, long overdue.

I originally thought your aliases design could account for multiple aliases, so it is great to see this take form.

On a similar thought train, can we get some discussion about mandatory roles that DCCs can lean on? It seems related to this idea, as a role is somewhat of an API-centric alias, and therefore, the defaults should be enf

[2020-09-09 04:25] KelSolaar commented on #1129
As discussed this morning, this is certainly on point and would be extremely useful to help the migration to config v2.

[2020-09-09 04:31] KelSolaar commented on #37
That would be great!

To give an example, if we were to remove default `equality_group`, `is_data`, `allocation` and `allocationvars` from the current ACES config, it would remove over 1100 lines from 5000, more than a fifth!!!

[2020-09-09 11:12] KevinJW commented on #37
As pointed out in the meeting, the equality_group not being specified could lead to a bunch of No-Ops, so we may need to clean up the behavioural differences between, not specifying the option, specifying the option but it being empty and specifying the option as an empty string, etc.

Will need to consider if this may break backwards compatibility in v1 configs, etc.

[2020-09-09 13:43] hodoulp commented on #1079
Hi @Simran-B, Can we close the issue?

[2020-09-09 17:19] Simran-B commented on #1079
Yes and no... it is kind of a reminder for me to also check other ASWF projects and add something about inclusive language to the documentation.

[2020-09-09 17:24] hodoulp commented on #1079
If you want to keep track of other ASWF projects, the best would be to create a defect in their repo.
On the other hand having a disclaimer in the documentation is a great idea.

[2020-09-10 14:55] hodoulp commented on #1121
@remia The pull request takes longer than expected because we use that opportunity to improve the support of the interpolation. You should see a pull request soon.

[2020-09-11 16:49] carolalynn22 opened #1135 "Documentation: details of download page contents"
Need to be explicit about contents of the zips on this page:

https://opencolorio.readthedocs.io/en/latest/quick_start/downloads.html

Specifically what configs are included.

[2020-09-11 16:52] carolalynn22 opened #1136 "Documentation: Investigate hierarchy issues in sidebar"
Some interesting things going on in the sidebar navigation:

https://opencolorio.readthedocs.io/en/latest/concepts/_index.html#concepts

So here, on the side, only Overview and Publications show up, though seemingly Introduction, Internal Architecture Overview, and Glossary would be on the same level and therefore should show up.

[2020-09-11 17:02] carolalynn22 opened #1137 "Documentation: Update list of roles and their descriptions"
https://opencolorio.readthedocs.io/en/latest/guides/authoring/config_syntax.html?highlight=roles#roles

https://opencolorio.readthedocs.io/en/latest/configurations/aces_1.0.3.html#id4

[2020-09-11 17:07] carolalynn22 opened #1138 "Documentation: Ongoing issue for tutorial ideas"
Placeholder issue for a checklist around tutorials we want/need:

- [ ] Environment Variables
- [ ] Photoshop workflow with OCIO

[2020-09-11 18:11] chrisbrejon commented on #1135
From the meeting of 2020/09/11, here is a couple of ideas.
- The word sample has confused me a bit (a small part or quantity intended to show what the whole is like).
- We could replace by “Master OCIO configuration” or "Default OCIO configuration" ?
- Here is a quick description to help : this Master OCIO configuration of approximately 836 mo contains 8 different configurations : nuke-default, sp

[2020-09-11 18:17] chrisbrejon commented on #1137
This might overlap with the ACES documentation but I would love to see as well an explanation for each role, as why a color space or an other has been chosen.  For example, "Output - sRGB" for the color_picking role. I know lots of artists have scratched their heads on this one. ;-)

[2020-09-11 18:20] chrisbrejon commented on #1136
Meeting of 2020/09/11, after further investigation, we have double-checked and it is normal that overview and publications are listed in the side bar as they are listed in the _index.rst and have a folder for each one. Therefore we could probably have a look at why "Introduction" and "Internal Architecture Overview" are listed on the same level.

[2020-09-14 13:58] simonbjork opened #1141 "Website - modo link is incorrect"
Under supported applications, the link for modo leads to autodesk/maya. Let the conspiracy theories begin!

[2020-09-14 15:59] carolalynn22 commented on #1141
I have a fix for that in my current fork already... Just need to add one
more thing and push it up. I've been doing website updates in groups
because it's still manual to push to the live site :)

On Mon, Sep 14, 2020 at 6:59 AM simonbjork <notifications@github.com> wrote:

--

*CAROL PAYNE*

Imaging Specialist

Creative Technologies & Infrastructure

T 505.553.0076

5808 W. Sunset Blvd  |  Los An

[2020-09-14 23:06] zachlewis commented on #1138
(I can't seem to edit the above post)

Some thoughts...

I love Filmlight's two-page "Colour Workflow Quick Reference" for Baselight 5.2: ("FL-BL-QR-0867-BaselightColourWorkflow.pdf", found [here](https://www.filmlight.ltd.uk/support/documents/baselight/quick-reference_bl.php). I really admire the economy of this document's framing and consideration of different kinds of color workflows and produc

[2020-09-16 02:05] andranikvfx opened #1143 "Context Variable within Colorspace working in Nuke but not in Maya or Houdini"
Hello OCIO Team. I am in the process of authoring a config based off the ACES 1.2 config and i am running into some issues inside of Maya and Houdini (renderman). Has anyone had any luck with context variables within a colorspace?

!name: Input - CameraSpace
family: “Input”
equalitygroup: “”
bitdepth: 32f
description: |
camera space based on context
isdata: false
allocation: uniform
from_reference

[2020-09-16 02:53] michdolan commented on #1143
Hi @andranikvfx , `ColorSpaceTransform` does support context variable expansion, so this should work. Is `SHOT_CAMERA_SPACE` static during your DCC session? You could confirm through their respective Python consoles (using PyOpenColorIO) whether the Context variables are resolving, and caching, as expected. I think you would see an error though if they are not, since it should result in a NULL col

[2020-09-17 00:33] zachlewis commented on #1143
I've been working with @andranikvfx to resolve his issue. There really does seem to be a discrepancy between how the config behaves in Nuke-12 versus Nuke-11 / Maya-2020 / Houdini-18.0 on Windows, all other environment variable considerations being equal. In Nuke-12, the config behaves as expected; everywhere else, the `ColorSpaceTransform` operation behaves like a NoOp instead of throwing.

`SHOT

[2020-09-17 00:42] andranikvfx commented on #1143
After much debugging with the help of @zachlewis here are some updates.
1. Nuke 12.1v4 behaves as expected. **${SHOT_CAMERA_SPACE** is set to Input - RED - REDLog3G10 - REDWideGamutRGB before Nuke is launched and the Input - CameraSpace colorspace looks correct.
2. We tested the same behavior in Nuke 11.2v4 and the results matched what I was seeing in Maya and Houdini.

The solution I came up with

[2020-09-17 09:24] chrisbrejon commented on #1143
Hello @zachlewis @andranikvfx
it would be super neat if you could reply to the original thread on ACEScentral :
https://community.acescentral.com/t/context-variable-within-colorspace-working-in-nuke-but-not-in-maya-or-houdini/3222

So ACES users also have an answer on this topic.
Thanks !

[2020-09-18 18:19] chrisbrejon opened #1145 "Ubuntu install on windows to write documentation"
Hello everyone,

following the meeting of September 18th of 2020, I create this issue to keep track of our conversation on slack.
The idea is to make a tutorial for windows users and non-developers who would like to participate on the V2 Documentation Effort.

Here is a summary :
- My first error was to install the wrong version of Ubuntu. I needed to download Ubuntu 20.04 LTS at this link :
https

[2020-09-19 04:16] michdolan opened #1148 "C++/Python API Documentation Generation"
This issue is intended to host a discussion around the right approach for generating C++ and Python API docs for OCIO. @scoopxyz has done an excellent job investigating and starting to implement a method for automatic doc generation with `doxygen`, `breathe`, and a tool that ships with `pybind11`, but we have not yet decided if this is the approach to commit to.

The primary concern that's been ra

[2020-09-19 04:22] michdolan commented on #1148
#1074 features the current state of this work, for reference.

[2020-09-19 14:34] hodoulp commented on #1145
Without having all the answers I can highlight few extra steps to make the doc generation work.

Here are the steps I used on Windows 10, WSL, ubuntu 18:
- `sudo apt update`
- `sudo apt install python3-pip`
- `wget https://bootstrap.pypa.io/get-pip.py`
- `sudo python3 get-pip.py`
- `cmake -DCMAKE_BUILD_TYPE=Release -DOCIO_BUILD_TESTS=OFF -DOCIO_BUILD_GPU_TESTS=OFF -DOCIO_BUILD_PYTHON=ON -DOCIO_BUI

[2020-09-19 14:58] hodoulp commented on #1145
`ubuntu 18` and `ubuntu 20` should both work except that the Python version is different as explained above.

Needed to compile the project in order to have the python bindings.

While compiling the documentation I noticed several of these warnings. Do not worry about that.

[2020-09-20 03:22] michdolan opened #1149 "Document EnvironmentMode"
The `EnvironmentMode` enum and its interface on the OCIO Context are currently undocumented in in the public headers. How these modes affect environment evaluation is important to understand for config authors. Documentation could be added to these two files:

https://github.com/AcademySoftwareFoundation/OpenColorIO/blob/master/include/OpenColorIO/OpenColorIO.h
https://github.com/AcademySoftwareFo

[2020-09-21 02:02] michdolan opened #1150 "Add support for custom ComputeHash function/callback"
The current `ComputeHash` function in `PathUtils.cpp` depends on stat info from a supported filesystem. There could however be cases where this data is not sufficient for invalidating a cache (the filesystem might just be a proxy for a VCS system, for example), or a DCC could embed a file and use that when a config is not present. In these alternative cases, a function could be passed to OCIO to o

[2020-09-21 12:53] hodoulp commented on #1150
Small improvement concerning the proposed method prototype:
[code]

The method receives a file path (as a std::string) and returns a key (as a std::string) which uniquely identifies the file.

[2020-09-21 14:52] zachlewis commented on #1150
Just want to make sure I'm understanding correctly.

This proposal would provide a default method for computing a cache (e.g., with a file path std::string), while exposing a means to optionally override said method with a custom method.

Who is the intended author of the custom hash-computation method? DCC application vendors and software developers, or for color pipeline developers and end-users

[2020-09-21 17:28] scoopxyz commented on #1148
This was the intended workflow here:

![Untitled Diagram](https://user-images.githubusercontent.com/22137450/93799048-818a9d00-fc36-11ea-805d-7e04dd55fe98.png)

General Overview:

1. Contributor writes docstrings for both C++ and Python simultaneously by adding Doxygen-formatted comments to the Public OCIO Headers
2. For **new** methods, the contributor runs the "docstrings" target which produces

[2020-09-21 17:37] Simran-B opened #1153 "Config type does not default to CMAKE_BUILD_TYPE on build/install under Windows"
Environment:
- Windows 10
- Visual Studio Community 2019, 64-bit toolchain (`vcvarsall.bat x64`)
- CMake 3.18.2

I tried to build OCIO without bothering with any of its dependencies, which should be possible thanks to `OCIO_INSTALL_EXT_PACKAGES`:

[code]

A linker error occurred however:

    LINK : fatal error LNK1104: cannot open file "..\..\ext\dist\lib\expatMD.lib"

And this was logged for som

[2020-09-21 19:27] michdolan commented on #1153
I've noticed this as well on Windows specifically, which is why in OCIO CI the build call is:

[code]

Passing `-DCMAKE_BUILD_TYPE=Release` to the cmake configuration call should correct this too. In either case this should be solvable to default to `Release`, and at least honor the env var.

[2020-09-21 19:28] michdolan commented on #1148
Thanks for the detailed explanation @scoopxyz !

[2020-09-21 21:26] Simran-B commented on #1153
Mark Boorer in TSC meeting:
- Static linking on Windows
- Libs with flags like Debug/Release and multi-threading (`/MD`) not compatible if different. Entire deps graph needs to have same flags
- `-DCMAKE_BUILD_TYPE` not respected, only `--config` should be necessary

Regarding the last point:

In general, it's true that on Windows you don't set the build type when you configure with CMake, but onl

[2020-09-22 00:33] Simran-B commented on #1145
There are warnings about Sphinx plugins not being in PATH indeed, but this was actually about the `sphinx-build` command itself. Installing Sphinx does not add it to PATH automatically.

While no browser can be run inside the guest Ubuntu system because of the lack of a display, one can serve the files through a web server (Python 3 has a built-in module for that) and access them with the host's (

[2020-09-24 13:59] michdolan opened #1155 "OCIO metadata serialization"
Continuing discussion from #1154 ...

It was discovered recently (and maybe this was already known) that `CDLTransform` `setID` and `setDescription` are not persistent as they are not currently serialized to config YAML, though they are advertised as such in the header:

[code]

This led to a discussion around metadata serialization across the library. Currently all transforms will serialize `META

[2020-09-24 17:11] VVD commented on #1023
Is master support python 3 already?

[2020-09-24 17:13] VVD commented on #1023
All FreeBSD ports with mandatory dependency from python 2 will be removed on 2020-12-31 if not fixed:
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=249695

[2020-09-24 17:21] VVD commented on #1023
There are issue already: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=249534

[2020-09-24 19:02] zachlewis commented on #1155
Thanks for bringing this up.

I wholeheartedly agree. I was hoping for such a feature, especially for the scarier looking, less easily-identifiable transforms, like Matrix or CameraLog. At minimum, it would really help to keep CLF/CTFs intelligible, and to reduce user-error when manually editing configs; and would be useful for generating filenames or identifying / swapping out specific transforms

[2020-09-24 22:37] doug-walker commented on #1155
The "serialization" comment from v1 was talking about serializing to the XML .cc file, not to the YAML.

I think the confusion here is due to the fact that in v1 the CDLTransform class is where the XML read/write was located.  So the class needed the get/setID and get/setDescription for usage with the get/setXML methods.  In other words, FileFormatCC/CCC/CDL were built on CDLTransform.  Also, it w

[2020-09-25 13:25] michdolan commented on #1155
I'm in agreement with @doug-walker 's proposal on removing API which is confusing, and extending `Processor` write support to CDL, Would that only occur when a processor is exclusively a `CDLOp` instance? Perhaps the `getXML` method could be retained and shortcut to that implementation for convenience. We can raise this for discussion at the next TSC meeting also.

For transform metadata, I propos

[2020-09-25 20:59] doug-walker commented on #1155
Currently the write method throws if there are any ops that may not be losslessly written to the selected format and suggests using the baker instead.  So if the format is cc/ccc/cdl, it would throw if the op is anything other than a single CDL.  Strictly speaking, those formats do not have a way of indicating whether clamping is desired (as CLF is able to) since the ASC spec always clamps.  But f

[2020-09-28 00:35] doug-walker commented on #1117
Abhist51 was not able to make progress this project, so we are still looking for someone to take this on.  Any volunteers out there that could help us with this?  This is a high priority project for us.

[2020-09-30 03:55] #1124 closed

[2020-10-05 18:02] michdolan opened #1161 "OCIO development process documentation feedback"
A new document [PROCESS.md](https://github.com/AcademySoftwareFoundation/OpenColorIO/blob/master/PROCESS.md) was recently added to the repository documenting project practices around proposing changes to the core library and how small and large changes are approved before being merged into the codebase.

This document was raised for discussion at three OCIO TSC meetings and was available for reive

[2020-10-05 18:45] KelSolaar commented on #1161
To go back to https://github.com/AcademySoftwareFoundation/OpenColorIO/pull/1158#issuecomment-701745081 and my OP here https://github.com/AcademySoftwareFoundation/OpenColorIO/pull/1140#issuecomment-701159344

Should this be made explicit in the `PROCESS.md` document?

[2020-10-06 12:20] michdolan commented on #1148
I've got `pybind11_mkdoc` hooked up in CMake to generate a docstring header, which could then use @scoopxyz 's updated Python bindings. My honest opinion after digging through all of this is that the cost to benefit ratio of `pybind11_mkdoc` is not worth it for our project. It's now it's own GH project, but is not versioned (i.e. no releases) and not in PyPi, so I don't feel 100% comfortable build

[2020-10-06 16:37] EmperorYP7 commented on #1117
I would like to work on this issue. It'll be great if you guide me through this.

[2020-10-06 22:23] michdolan commented on #1161
So to reiterate your point from #1140 @KelSolaar , you are suggesting that we should not allow two affiliated approvals ((i.e. from two developers from the same company) in the two week PR review clause, correct? And to restate your argument, which is a fair point:

[2020-10-06 23:49] lgritz commented on #1161
I don't really have a dog in this fight, but it seems to me that no matter what hooliganism occurs over Christmas break, on January 2nd anybody in the community can say, "whoa, that commit from last week was a hot mess, let's revert it and take some time to rethink this feature."  It would only be a real problem if it happened immediately prior to a release, allowing the bad ideas to escape into t

[2020-10-07 18:18] zachlewis commented on #1115
yikes -- i accidentally unassigned myself while trying to update the task

[2020-10-08 00:50] zachlewis commented on #1161
All of this sounds quite reasonable to me. Informative and well written.

I definitely haven't given this nearly as much thought as others have, and I may be failing to imagine problematic scenarios... but in my mind, provided the group isn't disproportionately represented in the TSC, and contributors are communicative and responsive to feedback / questions / suggestions communicated in GitHub...

[2020-10-08 11:58] michdolan commented on #1148
After investigation and some tests, I can fairly easily generate a header file equivalent to `pybind11_mkdoc` just with the doxygen XML output. The trickier part is handling the description elements in the XML since there is quite a scope of functionality that it represents. I'm going to try and leverage `breathe` to parse the XML and to render RST for the header. In looking at the source I _think

[2020-10-11 08:45] KelSolaar commented on #1161
I don't disagree but at this stage, the community is tiny and depending on its availability, it might take a while to realise that stuff happened. It relates to what Mark (@Shootfast) was saying at the last TSC, depending on your workload, you might simply not have time to check OCIO development as much as you would want but still, it is a critical piece in your work. I actually write that on a Su

[2020-10-11 09:47] jordibares opened #1165 "Installation with Python failing on MacOSX"
I have been doing a clean installation of a new laptop and found myself with an installation faliure, I am not sure is me or something has fundamentally change in the brew-core but the --with-python option is not working for me.

I would love to hear from others and perhaps check if it is something broken or I need more coffee.

The process is pretty straight forward

1) Installing homebrew
2) ins

[2020-10-11 18:50] lgritz commented on #1161
OCIO v2 is years in the making. It seems like it would be easy, barely a blip in the schedule, to say that the last 6 weeks before declaring it final is a design and feature freeze -- no new ideas or unvetted features -- with the only changes to be bug fixes, completion of promised features that are documented/speced out but not fully implemented, and corrective responses to any community concerns

[2020-10-11 19:18] KelSolaar commented on #1161
Agreed but at some point people might have started to build around the new features in their software and it could be challenging to ask for any change, case in point some discussions around some of CLF operators, e.g. Range, faced a lot of resistance to make any changes.

[2020-10-12 06:03] KelSolaar commented on #1165
Hi Jordi,

*brew install opencolorio* should just work, that is how I got it set up on
my Macbook:

Kali:~ kelsolaar$ brew info opencolorio

Cheers,

Thomas Mansencal - colour-science.org <https://www.colour-science.org> -
thomasmansencal.com <http://www.thomasmansencal.com>

On Sun, 11 Oct 2020 at 22:47, jordibares <notifications@github.com> wrote:

[2020-10-12 06:47] KelSolaar commented on #1165
Hi Jordi,

`brew install opencolorio` should just work, that is how I got it set up on
my Macbook:

[code]

[2020-10-12 18:54] michdolan commented on #1161
@zachlewis you are definitely encouraged to give approvals for any review you do, yes. All feedback and opinions are valued.

[2020-10-15 20:49] jordibares commented on #1165
Ohhh.. thanks KelSolar, that is GREAT.

[2020-10-16 09:41] jordibares commented on #1153
Not meant to be a pain but, this really looks painful in Windows, like... really painful. If adoption is the goal, this should be as simply as a yum install or brew install in the worst of the cases.

Isn't it possible to use Homebrew for Linus on windows10 thanks to WSL?

[2020-10-17 15:13] EmperorYP7 commented on #1150
I've implemented custom callback along with `g_hashFunction` which stores current `ComputeHash()` by default which can be modified using `SetComputeHashFunction()`. Tests seem to be happy as well.
May I draft a PR for the same?

[2020-10-17 16:42] hodoulp commented on #1150
Hi @EmperorYP7
That's an Open Source project so any contributors and contributions are welcome. Please create the pull request if you think to have an implementation for the feature, but do not forget to include at least one unit test to demonstrate that 'it works'.
Welcome on board

[2020-10-17 17:05] EmperorYP7 commented on #1150
That sounds great to me @hodoulp :smile: Thanks!

[2020-10-19 01:27] michdolan commented on #1165
@jordibares did @KelSolaar 's explanation solve this for you? Okay to close this issue? Thanks

[2020-10-19 01:38] michdolan commented on #1161
Thanks for the input all, including in last week's TSC meeting. Sounds like we can add some policy around feature freezes, and also consider future revisions to the approval policy after OCIO v2 releases, under the intent that with a reduction in the cadence of major changes to the library there is likely more time and cycles from the community and committers for in-depth review, so hopefully less

[2020-10-19 16:45] zachlewis commented on #1137
Perhaps it's worth documenting (and adding Enums) for `rendering`, `compositing_linear`, `aces_interchange`, and `cie_xyz_d65_interchange`?

Regarding the `reference` role:

Although it's quite clear in the docs now, historically, there's been ambiguity regarding what "reference" means. When I first encountered it, the role was defined in the docs as "Colorspace used for reference imagery (e.g sRG

[2020-10-19 20:55] michdolan opened #1174 "OCIO UI/UX standards"
As discussed in today's TSC meeting, the OCIO v2 stabilization period provides a good opportunity to discuss and agree upon standards and recommendations around UI/UX considerations while implementing OCIO v2 in host applications. Consistent UX will be really important particularly with many new UI-specific features.

This issue is intended to be an initial home for this discussion, including sugg

[2020-10-19 22:37] sobotka commented on #1174
Only one note here, the display linear EOTF transform to finish off the display colourimetry side would be invaluable for DCC compositing.

[2020-10-21 04:05] doug-walker opened #1175 "Remove TRANSFORM_DIR_UNKNOWN"
The "unknown" value for the "direction" enums (for transform, view transform, and color space) requires a lot of error handling code throughout the library.  We feel that the "unknown" value is not bringing any benefits and that it would be simpler if all transforms are simply initialized in the forward direction.  We propose removing the "unknown direction" enumeration values from the API and cle

[2020-10-22 21:05] remia opened #1178 "LookTransform Inverse direction issue"
We stumbled upon a rather unusual config using the `LookTransform` inside a `GroupTransform`, it seems that the config breaks when the `LookTransform` is used in the inverse direction. A simplified version of the problematic config:
[code]

The `LookTransform` is probably missing a `CombineTransformDirections` step that prevent it from working correctly in a situation like this. We were under an o

[2020-10-23 04:03] doug-walker commented on #1178
Good catch @remia.  Surprisingly, LookTransform seems to ignore the direction of the LookTransform object itself (unlike GroupTransform, ColorSpaceTransform, and DisplayViewTransform, which could be considered its peer Transforms).

The problem seems independent of its usage inside a GroupTransform, isn't it?  GroupTransform seems to handle that correctly already.  Why are you thinking it would be

[2020-10-23 04:38] hodoulp opened #1179 "vcpkg - Update to support OCIOv2 when ready"
Here are the current `vcpkg` discussions around OpenColorIO v1:
https://github.com/microsoft/vcpkg/issues/14113
https://github.com/microsoft/vcpkg/issues/14132

Here are the `vcpkg` configuration files:
https://github.com/microsoft/vcpkg/tree/master/ports/opencolorio
https://github.com/microsoft/vcpkg/tree/master/ports/opencolorio-tools

[2020-10-23 17:26] remia commented on #1178
What I meant was basically is there a reason that each respective transform OpBuilders need to have the two directions provided as input or would the combined be enough ? Seeing that it is easy to forget it like here. And you are right, it's probably not limited to usage via a GroupTransform.

Anyway, the fix is simple, I will roll a PR for that one.

[2020-10-24 00:26] zachlewis commented on #1175
Good riddance. Are any of the other "unknown" enums beneficial?

[2020-10-26 16:50] #1150 closed

[2020-10-26 16:59] michdolan commented on #1179
If anyone has other package managers they would like OCIO support added to, please open additional issues for those. Any help is appreciated. I've started laying ground work for pypi support as an example, but happy to surrender that work to someone with time if there's interest as well.

[2020-10-27 02:20] lukeloo opened #1182 "OpenColorIO"

[2020-10-27 16:29] hodoulp commented on #1182
@lukeloo Please close the issue if you changed your mind; otherwise, you need to put some explanations concerning your point (i.e. something to improve, etc.) or the defect you found. Thanks.

[2020-10-27 16:30] #1178 closed

[2020-10-27 16:32] hodoulp commented on #1165
@jordibares, please close the issue if you have the answer to your question or update it; otherwise, I will close the issue. Thanks.

[2020-10-27 16:36] hodoulp commented on #1145
@chrisbrejon & @michdolan Is the issue still valid?

[2020-10-27 16:37] hodoulp commented on #1141
@carolalynn22, Did you follow-up on the issue? Is that fixed & merged? Thanks

[2020-10-27 17:23] chrisbrejon commented on #1145
Time flies... I cannot believe it has been more than a month already. Sorry I have been quite busy at work and would like to give this install a second opportunity. I'll let you know in a couple of weeks if that's fine with you. Thanks !

[2020-10-27 17:45] hodoulp commented on #1145
@chrisbrejon That's fine. You could perhaps coordinate your effort with @michdolan current work before taking some time to continue your investigations.

[2020-10-30 03:13] hodoulp commented on #1084
@zachlewis, The work is now completed and merged if you see some improvements you can still log another issue.

[2020-10-30 03:13] #1084 closed

[2020-10-30 03:16] hodoulp commented on #1082
@sobotka The feature is now completed (as described in the issue) and merged if you see some improvements you can still log an issue.

[2020-10-30 03:16] #1082 closed

[2020-10-30 03:17] #1030 closed

[2020-10-30 03:19] hodoulp commented on #709
@KelSolaar if the build break is now fixed, you could close the issue. Thanks.

[2020-10-30 03:20] #1165 closed

[2020-10-30 03:22] hodoulp commented on #1121
@remia The issue is fixed by Bernard's works. When you have time could check and close the issue? thanks.

[2020-10-30 10:38] KelSolaar commented on #709
I haven't checked recently and probably won't as I have running containers for the V1 and V2 ACES configs. Let's close this one for now!

[2020-10-30 12:00] #709 closed

[2020-10-30 12:01] #1182 closed

[2020-10-30 12:27] remia commented on #1121
Just ran the test script again and it works as expected, thanks @BernardLefebvre !

[2020-10-30 12:27] #1121 closed

[2020-10-30 12:37] hodoulp commented on #821
@jiapei100 Could you check again to see if that fixed?
Without any answer I will close the issue.

[2020-10-30 15:21] hsdk123 commented on #406
Hi, would it be possible to request an update to this? This has major impact on loading from non-english environments on Windows. The fix doesn't seem to be too difficult either.

[2020-10-30 18:18] doug-walker opened #1185 "Python applyRGB only processes a single value"
In the C++ API, the CPUProcessor applyRGB/RGBA methods process a single float32 value (both v1 and v2).  But in the OCIO v1 Python bindings, applyRGB/applyRGBA could process a list of values.  In the v2 bindings, they are only processing a single value.

The binding should be enhanced to do something similar to v1, namely, create an imageDesc to describe the buffer of pixels and call the apply met

[2020-11-01 22:48] lgritz opened #1186 "PR #1167 broke OCIO version detection"
In PR #1167, alterations to OpenColorABI.h.in removed a defined symbol  OCIO_VERSION in favor of  OCIO_VERSION_STR (which did not exist before).

This breaks other projects that depend on OpenColorIO and expect this symbol to be present. Among other problems, this means that if somebody had a FindOpenColorIO.cmake that looked for OCIO_VERSION to determine the version number, now that fails. If it

[2020-11-01 22:59] lgritz opened #1187 "Have OCIO build export a proper OpenColorIOConfig.cmake"
The modern CMake way is that packages should produce and distribute a PackageConfig.cmake, eliminating the need for all the other CMake-based packages that depend on OCIO from each, separately, having to maintain some kind of FindOpenColorIO.cmake module that contains all the searching logic.

[2020-11-01 23:13] hodoulp commented on #1186
Good catch.

[2020-11-02 09:36] Yash-R commented on #1187
Hey, i would like to help you with this issue can you guide me ??

[2020-11-02 14:13] hodoulp commented on #1187
Hi @Yash-R,
Happy to see a volunteer to help the OpenColorIO development.

The task requires some knowledge of `C++` and `CMake` because it involves developing a CMake utility to find a C++ library in a multi-platform project. Below are some examples:
- https://github.com/OpenImageIO/oiio/blob/master/src/cmake/modules/FindOpenColorIO.cmake
- https://github.com/PixarAnimationStudios/USD/blob/releas

[2020-11-02 14:19] Yash-R commented on #1187
yes I'm very much interested to work, Can you please explain me the work briefly please ? @hodoulp

[2020-11-02 16:46] #1186 closed

[2020-11-02 18:17] lgritz commented on #261
I'd like to raise this old issue from the dead because it's going to be a crisis fairly soon.

I know for OSL, and really any renderer that uses OCIO and is currently scrambling to re-architect a Cuda+OptiX implementation (that is to say, EVERY top film renderer), we are currently faced with three equally unpalatable possibilities: (a) hope that OCIO implements a Cuda-callable interface for most o

[2020-11-02 20:02] hodoulp commented on #1187
The CMake utility helps other projects to discover an installed OpenColorIO library (i.e which means where are the header files, where are the binary file(s), and what is the version). In the previous post I pasted some examples. So, OpenColorIO must have a `findOpenColorIO.cmake` file and install it.
Keep in mind that the file detection is, most of the time, platform dependant (i.e OpenColorIO su

[2020-11-04 23:47] fnordware opened #1194 "spi-vfx and spi-anim configs fail validation"
If you run `ociocheck --iconfig spi-vfx/config.ocio`, you get a validation error:

`FileTransform can't use unknown interpolation. File: 'version_8_whitebalanced.spimtx'.`

The error is thrown [here](https://github.com/AcademySoftwareFoundation/OpenColorIO/blob/master/src/OpenColorIO/transforms/FileTransform.cpp#L100).

Does this mean the config needs an update?

Another question: should applicati

[2020-11-05 00:26] hodoulp commented on #1194
Thanks @fnordware for the reporting the problem.

I tried on the latest commit from master, and it fails.

[2020-11-05 01:57] doug-walker commented on #1194
Thanks Brendan!  The config does not need an update, you found a bug in how we are handling the "unknown" interpolation attribute.

Currently, loading a config checks that a v1 config does not use any v2 features but it does not run a validation on it.  So yes, I would recommend that you do run validate after loading a config.

[2020-11-06 05:15] doug-walker opened #1195 "Create a demo config that uses all the v2 features"
For testing purposes, it would be helpful to have a config that uses the new v2 features.  The ACES config is underway but it would be helpful to have something ASAP, even if it is just a toy/demo config.

This could be added to the repo under the tests/data directory.

It could also be used for documentation purposes.

[2020-11-06 05:21] doug-walker opened #1196 "Update the version for a release candidate"
Per Larry's suggestion on the OCIO v2 mailing list, we should tag a version as a first release candidate to facilitate testing.  We first need a PR to adjust the version to identify itself as the 2.0.0rc1 version.

Here is the request from Larry that provides the more detailed rationale:

[2020-11-06 06:08] KelSolaar commented on #1196
Thanks this is great, I can now point to a particular version :)

[2020-11-06 08:29] KelSolaar commented on #1195
That would be super useful, not only that but I would be keen to have some snippets, especially or the new display colorspace system that I could roll into the [ACES config generator](https://github.com/AcademySoftwareFoundation/OpenColorIO-Config-ACES/blob/e71d924701f23d78a77732ebb73dd233c8960bee/opencolorio_config_aces/config/generation/common.py#L510).

[2020-11-06 11:01] hodoulp commented on #1175
@zachlewis, you can log an issue to those you think must be removed.

[2020-11-06 11:01] #1175 closed

[2020-11-07 14:52] MrKepzie opened #1198 "Lut1DOpData::getCacheID bottleneck"
Hi,
We currently use OpenColorIO v2 in a compositing application. When profiling in release mode, most of our processing time is actually spent by OCIO trying to build its cache ID in Lut1DOpData::getCacheID using MD5. We already mainain a processor cache externally using our own parameters with the upside that it doesn't require to hash the whole LUTs.

I think the cache ID generation should be m

[2020-11-07 22:59] zachlewis commented on #1195
I have a notebook and plenty of snippets I've been cleaning up to share that produces this:
https://gist.github.com/zachlewis/3275d4893414d2c278487612121ecc68

(WARNING... I've never actually visually tested the above; IIRC, I'm computing my P3-D65 and DCI-P3 matrices from XYZ-E instead of XYZ-D65, which I'll have to fix).

It's a proof-of-concept that, among other things, maps some of the ACES-to

[2020-11-08 08:06] zachlewis commented on #1195
I've added some extremely-unsexy-but-hopefully-straightforward example [Python code](https://gist.github.com/zachlewis/3275d4893414d2c278487612121ecc68#file-build_test_ocio2_config-py) to the above gist to produce the config. Forgive the formatting, I copy-pasted from a notebook. Still haven't actually visually checked the config, but... what could possibly 🙈 go wrong?

Worth noting:
 - This is an

[2020-11-08 17:21] sobotka commented on #1195
Would you mind sharing them all @doug-walker? You have at least one audience member who is extremely keen to see this!

[2020-11-09 17:19] hodoulp commented on #1198
@MrKepzie thanks for reporting the concern.

The cacheID is used to uniquely identify a color transformation so that's an important feature to build caches for example. But it costs a lot for some specific Ops such as luts because the content is part of the computation. For now, OpenColorIO has caches for `Processor`, `CPUProcessor`, and `GPUProcessor` instances.  On the other hand, the computatio

[2020-11-09 19:38] doug-walker opened #1199 "Remove dynamic properties from configs"
PR #743 added the ability for transforms to expose parameters (dynamic properties) that are adjustable after Processor creation.  PR #1102 introduced some new transforms for creating Looks and took advantage of this feature from PR #743.  In these PRs, the YAML serialization of these new transforms allowed specifying whether the dynamic property feature was active.  (The use-case for this was for

[2020-11-09 21:28] MrKepzie commented on #1198
Ended up doing what you suggest. We frequently check against the master branch. Will look at that new caching feature.  Move to V2 was mandatory for the correct GPU compute code path.
We have a specific usage for which I could open a feature request. Currently the shader text returned by the GPUShaderDesc contains uniforms declaration and helper functions.
We however use that generated shader in a

[2020-11-09 21:39] hodoulp commented on #1198
That's the goal of `GpuShaderCreator` to offer the ability for a completely custom integration i.e. the caller receives the requests but has to perform all the translation to its own environment. The class `GpuShaderDesc` provides much more support to ease traditional integrations.

[2020-11-10 18:14] MrKepzie commented on #1198
Perfect! Will give it a try when we get a chance

[2020-11-11 18:32] BernardLefebvre opened #1202 "Add .none(false) for arguments of python exposed functions expecting strings"
Several API functions are taking const char * parameters. They are often exposed to Python with:
.def("function", &Class::function, "parameter"_a)
This is working fine, when used in python, the parameter type is checked, but when used with None a segfault occurs.
To handle that .none(false) can be added to the parameter:
.def("function", &Class::function, "parameter"_a.none(false))

[2020-11-13 14:16] EmperorYP7 commented on #1202
May I work on this or is this resolved in a recent PR?

[2020-11-13 16:49] hodoulp commented on #1202
@EmperorYP7 Thanks to volunteer to work the issue. It only requires some Python knowledge. But I thought you wanted to work on the OpenFX plugin?

[2020-11-14 10:11] EmperorYP7 commented on #1202
That's right @hodoulp sir, I am currently working on OFX plugins but am also curious about this. If someone wants to work on this now, they're welcomed! :smile:

[2020-11-14 20:19] KelSolaar opened #1206 "On improving the interface between "ImageDesc" and "ndarray"."
Hello,

As explained on [Slack](https://opencolorio.slack.com/archives/C3Q43TN4Q/p1605321436095300), I could not find an elegant way to have image data flowing between OCIO and Numpy.

At the moment to basically creating a `PackedImageDesc` not only requires passing the `ndarray` but also specifying the _width_ and _height_ and _channel_ count which seems superfluous because that data is already a

[2020-11-16 14:34] michdolan commented on #1206
The intent was that you could do this:

`processor.applyRGB(ndarray or list)` and `processor.applyRGBA(ndarray or list)`

And have that do in-place (returns reference too) modification of the array without an `ImageDesc`. That would be more in line with OCIO v1 behavior. I missed that goal on the first pass but the intent is to fix this by internally using an `ImageDesc` matching the ndarray and a

[2020-11-16 15:03] michdolan commented on #1206
Also noting agreement on supporting passing ndarray directly to `processor.apply(ndarray)` without the `ImageDesc`

[2020-11-16 16:42] KelSolaar commented on #1206
Hello,

The first thing I tried was indeed `processor.applyRGB` but a) it did not visibly work on my image and b) the docs states it is for a single pixel.

Cheers,

Thomas

[2020-11-16 17:27] zachlewis commented on #1206
Indeed, I discovered the same thing with `processor.applyRGB` -- it seems to apply to only the first index of the array
(See #1185 ).

[2020-11-17 13:41] divshekhar commented on #1202
May I work on this issue?

[2020-11-17 13:42] BernardLefebvre commented on #1202
For example, this would crash:
cfg = OCIO.Config.CreateRaw()
cfg.getColorSpace(None)

[2020-11-17 15:33] divshekhar commented on #1202
#1209

[2020-11-17 17:38] KelSolaar opened #1211 "Getting the type of a transform returns the parent class."
Hi,

As discussed on Slack, `type(my_builtin_transform)` returns the parent class, i.e. `<class 'PyOpenColorIO.Transform'>` and not `BuiltinTransform`.

Currently using something like that for comparing, which is not super elegant: `transform.getTransformType() == ocio.TransformType.TRANSFORM_TYPE_BUILTIN`

Cheers,

Thomas

[2020-11-18 12:56] BernardLefebvre commented on #1202
As @divshekhar noticed it is also the case for shared pointers.

[2020-11-18 19:31] hodoulp opened #1213 "New warnings with gcc 10"
When compiling the library with gcc 10, there are new warnings that we should cleanup at some point.

Thanks to Sandi Vujaković for the report.

[OpenColorIO GCC 10 warnings.txt](https://github.com/AcademySoftwareFoundation/OpenColorIO/files/5562298/OpenColorIO.GCC.10.warnings.txt)

[2020-11-19 11:38] elsandosgrande commented on #1213
@hodoulp Actually, they may not be all that new, just undetected until now. I always set `-Wall -Wextra`, and `-Wextra` was what led to these warnings showing up. Here, I rebuilt OpenTimelineIO with just `-g -Wextra` (I finally figured out how to manipulate CMake's variables from the command line, so there is no unwanted `-DNDEBUG` this time around :sweat_smile:) and got all of the same warnings:

[2020-11-19 14:06] hodoulp commented on #1213
@elsandosgrande If I understand the `-Wextra` flag is missing. That's definitively a flag to add. You put such an energy on the investigation 👍 that you can do the pull request if you have time.

[2020-11-19 14:18] elsandosgrande commented on #1213
I haven't actually forked the repository, just cloned it locally :sweat_smile:. That, and I haven't actually tried to modify CMake configuration files before, as I only ever needed to kind of understand them from reading them, so I'm not the right guy to modify this. Thank you for the compliment though!

[2020-11-19 19:00] hodoulp opened #1216 "'Olive Editor' found an issue with concurrent accesses"
Refer to https://github.com/olive-editor/olive/issues/1382 for details.

[2020-11-20 20:24] BernardLefebvre commented on #1202
When binding a function that takes char * as parameter, automatic binding would expect a string but None is not allowed and should be excluded with none(false) if the function is bound directly.

If the binding is done with a function using std::string None would be handled (ex: def_static("CreateFromStream", [](const std::string & str)).

Other type, like ints, enums etc are already handling None

[2020-11-21 02:38] doug-walker commented on #1059
We discussed this at the 2020-11-13 documentation working group meeting.  The first deliverable for this issue should be to take one of the public headers (or even a section of it), put it into Doxygen style, and present the output (as it would appear in the documentation) for review by the community.

One issue to be decided is how verbose to make it.  The original OCIO headers had a very succinc

[2020-11-21 04:13] michdolan commented on #1059
I think if a function is clearly named and has detailed type info it can remain succinct. If however there is any ambiguity about what a class or function does, or how it is intended to be used, we should document it with adequate verbosity to understand it without having to reach out to the community for explanation. Not that there's anything wrong with asking for help/clarification in the commun

[2020-11-22 04:50] hodoulp commented on #1216
Closing the issue as the `Olive` editor code needs to be updated i.e. that's not a bug. By design OpenColorIO forbids any multi-threaded manipulation accesses of an in-memory config.

[2020-11-22 04:50] #1216 closed

[2020-11-23 22:25] michdolan opened #1218 "Add support for new Imath repo for Half dependency"
With OpenEXR 3.0 on the horizon, Imath has been moved to a dedicated repository: https://github.com/AcademySoftwareFoundation/Imath

Since OCIO depends on Half, we should work toward supporting the new lighter-weight repo in OCIO_INSTALL_EXT_PACKAGES builds. This will also need to be tested in the "latest" nightly CI build, which pulls the most recent upstream tag.

[2020-11-25 02:35] doug-walker commented on #1194
@fnordware , this but was fixed in PR #1215.  Thanks for the report!

[2020-11-25 02:35] #1194 closed

[2020-11-25 03:06] doug-walker commented on #1196
Following discussion at the TSC, it was decided to use 'beta1' rather than 'rc1' for this first tag.  This has now been implemented.  The tag (on the master branch) is 'v2.0.0-beta1'.

[2020-11-25 03:06] #1196 closed

[2020-11-26 01:55] zachlewis commented on #1059
I volunteered at that 2020-11-13 documentation working group meeting to take a stab at this... and I've been procrastinating ever since :)

I have zero experience with doxygen, but I'm definitely willing to put the work in. Barring no objections, I'll try to have at least part of one of the headers converted and rendered for the next time we meet.

[2020-11-26 03:10] doug-walker commented on #1059
Excellent, thanks Zach!

[2020-11-27 21:17] doug-walker opened #1222 "Controlling which color spaces appear in menus"
There has been wide agreement that it would be helpful for config authors to be able to limit which color spaces appear in application menus.  Indeed, several features of OCIO v2 are aimed at improving this situation and a number of PRs have been merged.  At this point, it seems that it would be useful to summarize this topic and pull together the results of various conversations to make sure that

[2020-11-28 02:35] doug-walker opened #1223 "Adjust 'family' description in OpenColorIO.h to match documentation"
In the documentation (both v1 and v2), the family property of a color space is defined as:
"Allows for logical grouping of colorspaces within a UI."

And indeed, that is how it seems to be used in practice.  For example, in the ACES config, the color spaces {ACES2065-1, ACEScc, ACEScct, ACEScg} are all part of a family "ACES" and all of the various ARRI IDTs are in a family called "Input/ARRI".

H

[2020-11-28 18:39] zachlewis commented on #1222
_Dig it!_

Here are some thoughts and ideas, increasingly out-of-scope:

- I think the proposed algorithm for handling app-demanded and user-provided categories is great.

- I also really like the idea of using the color space "encoding" property to get menu-based categories "for free." I suppose "encoding" values are expected (but not required?) to be one of: [`data`, `scene-linear`, `display-lin

[2020-11-30 21:15] Shootfast commented on #1222
I think this looks great. The only concern I have is regarding the pre-defined menu-based category strings (
    file-io, working-space, look-process-space, etc).
I think we should take the lessons learnt from the existing default "roles" list, that has proven to be a source of confusion to both DCC authors and end-users alike.
There will be different opinions on whether a particular DCC's drop-do

[2020-12-03 04:26] Ansh-Sarkar commented on #1223
@doug-walker could you pls assign this issue to me. Am relatively new to open source. Would love to start with this.

[2020-12-03 06:46] doug-walker commented on #1223
Done.  Thank you @Ansh-Sarkar.

[2020-12-04 03:19] Ansh-Sarkar commented on #1223
Thank you so much. Will submit a PR with the necessary changes as soon as possible

[2020-12-04 08:26] Ansh-Sarkar commented on #1223
@doug-walker have made the necessary changes and modified comments at required places. please review my P.R. #1227 .

[2020-12-05 10:51] Ansh-Sarkar commented on #1223
@doug-walker I have made the necessary changes. The CLA has been signed and all the tests have been passed. Please review my P.R. #1230

[2020-12-07 20:37] KevinJW commented on #1222
As mentioned in the TSC meeting, I'd prefer something explicit over 'magic' hiding based on naming of the family string pattern matching some set of values.

Kevin

[2020-12-09 05:28] #1148 closed

[2020-12-09 14:36] michdolan opened #1233 "Replace OpenImageIO dependency with OpenEXR"
We've been talking about how to solve the OCIO/OIIO circular dependency for years now, and I agree with @lgritz recent point that the best solution is to just support OpenEXR. The reasons I think this is the right answer are:

- OCIO already depends on OpenEXR. We currently just rip out Half and throw the rest away, but extending this to use the file format itself when apps need to be built is fai

[2020-12-10 22:17] karlhendrikse opened #1235 "DebugLock means that Mutex isn't a mutex at all when NDEBUG is defined"
This is the code of `DebugLock`:
[code]
Note that if two threads try to lock the mutex at the same time, one of them will assert. That defeats the entire purpose of a mutex. I assume the code is trying to prevent the same thread from recursively locking the mutex multiple times, but for that `m_locked` would need to be thread-local.

[2020-12-11 17:14] zachlewis commented on #1233
Thank you Michael -- getting rid of that circular dependency is really going to make things _so_ much easier -- especially for those of us maintaining OCIO and OIIO packages! Our current method for building OCIO against OIIO against OCIO is unconscionable. It's gonna be like night and day.

@lgritz, perhaps there's space in `oiiotool` for something like `ociolutimage`? I've personally only used it

[2020-12-11 17:39] michdolan commented on #1233
We could make an optional dependency to `libtiff` or something too to support integer formats.

[2020-12-11 20:34] doug-walker opened #1236 "Serializing a v1 config must not omit required elements"
In OCIO v2, a v2 config is allowed to omit default or repetitive items.  However, if the config version is set to 1, these values should not be omitted so that the config is readable via an app using a v1 library.

For example, v1 would write an ExponentTransform like this:
`!<ExponentTransform> {value: [2.2, 2.2, 2.2, 1]}`
and v2 would write it like this:
`!<ExponentTransform> {value: 2.2}`

The

[2020-12-11 21:53] zachlewis commented on #1233
I think `libtiff` would definitely do the trick, if it doesn't complicate things too much.

FWIW, I think between `libtiff` and `OpenEXR`, we'd satisfy the minimum requirements for statically building OIIO... :)